.chart {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.entireCheckBox {
  height: 100%
}

.entireCheckBox > div > div {
  margin-top: auto !important;
  margin-bottom: auto !important;
  align-items: center;
  height: 100%;
}
