<div>
  <!-- 기본 조회 조건 영역 시작 -->
    <div id="SRH_ATTR_CONTAINER_01" class="component_ui container_component">
        <div>
            <!-- only DP (grade & COV)-->
            <div class="parentCon">
              <span class="leftCon">
                  <span id="SRH_CPT_ATTR_99_01" class="component_ui"></span>
              </span>
                <span class="rightCon">
                  <span id="SRH_CPT_ATTR_99_04" class="component_ui"></span>
              </span>
            </div>
            <div class="parentCon">
              <span class="leftCon">
                  <span id="SRH_CPT_ATTR_00_01" class="component_ui"></span>
              </span>
                <span class="rightCon">
                  <span id="SRH_CPT_ATTR_00_04" class="component_ui"></span>
              </span>
            </div>
            <!-- standard code -->
            <div class="parentCon">
              <span class="leftCon">
                  <span id="SRH_CPT_ATTR_01_01" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_01_02" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_01_03" class="component_ui"></span>
              </span>
                    <span class="rightCon">
                  <span id="SRH_CPT_ATTR_01_04" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_01_05" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_01_06" class="component_ui"></span>
              </span>
            </div>
            <div class="parentCon">
              <span class="leftCon">
                  <span id="SRH_CPT_ATTR_02_01" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_02_02" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_02_03" class="component_ui"></span>
              </span>
                    <span class="rightCon">
                  <span id="SRH_CPT_ATTR_02_04" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_02_05" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_02_06" class="component_ui"></span>
              </span>
            </div>
            <div class="parentCon">
              <span class="leftCon">
                  <span id="SRH_CPT_ATTR_03_01" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_03_02" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_03_03" class="component_ui"></span>
              </span>
                <span class="rightCon">
                  <span id="SRH_CPT_ATTR_03_04" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_03_05" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_03_06" class="component_ui"></span>
              </span>
            </div>
            <div class="parentCon">
              <span class="leftCon">
                  <span id="SRH_CPT_ATTR_04_01" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_04_02" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_04_03" class="component_ui"></span>
              </span>
                <span class="rightCon">
                  <span id="SRH_CPT_ATTR_04_04" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_04_05" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_04_06" class="component_ui"></span>
              </span>
            </div>
            <div class="parentCon">
                <span class="leftCon">
                  <span id="SRH_CPT_ATTR_05_01" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_05_02" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_05_03" class="component_ui"></span>
                </span>
                <span class="rightCon">
                  <span id="SRH_CPT_ATTR_05_04" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_05_05" class="component_ui"></span>
                  <span id="SRH_CPT_ATTR_05_06" class="component_ui"></span>
                </span>
            </div>
        </div>
    </div>
    <div id="SRH_ATTR_CONTAINER_02" class="component_ui container_component">
        <div>
            <div class="parentCon">
                <span class="leftCon">
                    <span id="SRH_CPT_ATTR_06_01" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_06_02" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_06_03" class="component_ui"></span>
                </span>
                    <span class="rightCon">
                    <span id="SRH_CPT_ATTR_06_04" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_06_05" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_06_06" class="component_ui"></span>
                </span>
            </div>
            <div class="parentCon">
                <span class="leftCon">
                    <span id="SRH_CPT_ATTR_07_01" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_07_02" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_07_03" class="component_ui"></span>
                </span>
                    <span class="rightCon">
                    <span id="SRH_CPT_ATTR_07_04" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_07_05" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_07_06" class="component_ui"></span>
                </span>
            </div>
            <div class="parentCon">
                <span class="leftCon">
                    <span id="SRH_CPT_ATTR_08_01" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_08_02" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_08_03" class="component_ui"></span>
                </span>
                    <span class="rightCon">
                    <span id="SRH_CPT_ATTR_08_04" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_08_05" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_08_06" class="component_ui"></span>
                </span>
            </div>
            <div class="parentCon">
                <span class="leftCon">
                    <span id="SRH_CPT_ATTR_09_01" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_09_02" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_09_03" class="component_ui"></span>
                </span>
                    <span class="rightCon">
                    <span id="SRH_CPT_ATTR_09_04" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_09_05" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_09_06" class="component_ui"></span>
                </span>
            </div>
            <div class="parentCon">
                <span class="leftCon">
                    <span id="SRH_CPT_ATTR_10_01" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_10_02" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_10_03" class="component_ui"></span>
                </span>
                    <span class="rightCon">
                    <span id="SRH_CPT_ATTR_10_04" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_10_05" class="component_ui"></span>
                    <span id="SRH_CPT_ATTR_10_06" class="component_ui"></span>
                </span>
            </div>
        </div>
    </div>

  <!-- 기본 조회 조건 영역 끝 -->
</div>

