<meta charset="utf-8" />
		
	<!-- Plan Start Date -->
	<div class="parentCon">
		<span class="leftCon">
			<span id="SRH_CPT_PLAN_START_01" class="component_ui"></span>
			<span id="SRH_CPT_PLAN_START_02" class="component_ui"></span>
			<span id="SRH_CPT_PLAN_START_03" class="component_ui"></span>
		</span>
		<span class="rightCon">
			<span id="SRH_CPT_PLAN_START_04" class="component_ui"></span>
			<span id="SRH_CPT_PLAN_START_05" class="component_ui"></span>
			<span id="SRH_CPT_PLAN_START_06" class="component_ui"></span>
		</span>
	</div>
	
	<!-- Plan End Date -->
	<div class="parentCon">
		<span class="leftCon">
			<span id="SRH_CPT_PLAN_END_01" class="component_ui"></span>
			<span id="SRH_CPT_PLAN_END_02" class="component_ui"></span>
			<span id="SRH_CPT_PLAN_END_03" class="component_ui"></span>
		</span>
		<span class="rightCon">
			<span id="SRH_CPT_PLAN_END_04" class="component_ui"></span>
			<span id="SRH_CPT_PLAN_END_05" class="component_ui"></span>
			<span id="SRH_CPT_PLAN_END_06" class="component_ui"></span>
		</span>
	</div>