<meta charset="utf-8" />
		
		<!-- PROBLEM_RESource 코드 -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_PROBLEM_RES_CD_01" class="component_ui"></span>
				<span id="SRH_CPT_PROBLEM_RES_CD_02" class="component_ui"></span>
				<span id="SRH_CPT_PROBLEM_RES_CD_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_PROBLEM_RES_CD_04" class="component_ui"></span>
				<span id="SRH_CPT_PROBLEM_RES_CD_05" class="component_ui"></span>
				<span id="SRH_CPT_PROBLEM_RES_CD_06" class="component_ui"></span>
			</span>
		</div>
		
		<!-- PROBLEM_RESource 명 -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_PROBLEM_RES_DESCRIP_01" class="component_ui"></span>
				<span id="SRH_CPT_PROBLEM_RES_DESCRIP_02" class="component_ui"></span>
				<span id="SRH_CPT_PROBLEM_RES_DESCRIP_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_PROBLEM_RES_DESCRIP_04" class="component_ui"></span>
				<span id="SRH_CPT_PROBLEM_RES_DESCRIP_05" class="component_ui"></span>
				<span id="SRH_CPT_PROBLEM_RES_DESCRIP_06" class="component_ui"></span>
			</span>
		</div>
