<meta charset="utf-8" />
		
	<!-- From Date -->
	<div class="parentCon">
		<span class="leftCon">
			<span id="SRH_CPT_FROM_DATE_01" class="component_ui"></span>
			<span id="SRH_CPT_FROM_DATE_02" class="component_ui"></span>
			<span id="SRH_CPT_FROM_DATE_03" class="component_ui"></span>
		</span>
		<span class="rightCon">
			<span id="SRH_CPT_FROM_DATE_04" class="component_ui"></span>
			<span id="SRH_CPT_FROM_DATE_05" class="component_ui"></span>
			<span id="SRH_CPT_FROM_DATE_06" class="component_ui"></span>
		</span>
	</div>
	
	<!-- To Date -->
	<div class="parentCon">
		<span class="leftCon">
			<span id="SRH_CPT_TO_DATE_01" class="component_ui"></span>
			<span id="SRH_CPT_TO_DATE_02" class="component_ui"></span>
			<span id="SRH_CPT_TO_DATE_03" class="component_ui"></span>
		</span>
		<span class="rightCon">
			<span id="SRH_CPT_TO_DATE_04" class="component_ui"></span>
			<span id="SRH_CPT_TO_DATE_05" class="component_ui"></span>
			<span id="SRH_CPT_TO_DATE_06" class="component_ui"></span>
		</span>
	</div>