<meta charset="utf-8" />
<div class="parentCon">
	<span class="leftCon">
		<span id="SRH_ROUTE_GRP_01_01" class="component_ui"></span>
		<span id="SRH_ROUTE_GRP_01_02" class="component_ui"></span>
		<span id="SRH_ROUTE_GRP_01_03" class="component_ui"></span>
	</span>
	<span class="rightCon">
		<span id="SRH_ROUTE_GRP_01_04" class="component_ui"></span>
		<span id="SRH_ROUTE_GRP_01_05" class="component_ui" style="vertical-align: top;"></span>
		<span id="SRH_ROUTE_GRP_01_06" class="component_ui"></span>
	</span>
</div>

<div class="parentCon">
	<span class="leftCon">
		<span id="SRH_ROUTE_GRP_02_01" class="component_ui"></span>
		<span id="SRH_ROUTE_GRP_02_02" class="component_ui"></span>
		<span id="SRH_ROUTE_GRP_02_03" class="component_ui"></span>
	</span>
	<span class="rightCon">
		<span id="SRH_ROUTE_GRP_02_04" class="component_ui"></span>
		<span id="SRH_ROUTE_GRP_02_05" class="component_ui"></span>
		<span id="SRH_ROUTE_GRP_02_06" class="component_ui"></span>
	</span>
</div>
<div id="POP_SRH_ROUTE_GRP_WINDOW_01" class="component_ui window_component">
	<div id="POP_SRH_ROUTE_GRP_GRID" class="component_ui"></div>
</div>