<meta charset="utf-8" />
	<!-- DATA 영역 시작  -->
	<div class="data_area">
		<!-- data component-->
		<div id="VER_META_CMP" class="component_ui"></div>
	</div>
		<!-- Hidden -->
		<div class="parentCon">
			<span id="SRH_CPT_MAIN_VER_MST_ID_CMP" class="component_ui"></span>
			<span id="SRH_CPT_MAIN_VER_DTL_ID_CMP" class="component_ui"></span>
			<span id="SRH_CPT_PLAN_SNRIO_MGMT_DTL_ID_CMP" class="component_ui"></span>
			<span id="SRH_CPT_MODULE_ID_CMP" class="component_ui"></span>
		</div>
		
		<!-- CMP CHECK BOX -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_CMP_CHECK_01" class="component_ui" style='margin:3px;'></span>
				<span id="SRH_CPT_CMP_CHECK_02" class="component_ui"></span>
				<span id="SRH_CPT_CMP_CHECK_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_CMP_CHECK_04" class="component_ui"></span>
				<span id="SRH_CPT_CMP_CHECK_05" class="component_ui"></span>
				<span id="SRH_CPT_CMP_CHECK_06" class="component_ui"></span>
			</span>
		</div>
		
		<!-- Previous Version  -->
		
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_PRE_VER_01" class="component_ui"></span>
				<span id="SRH_CPT_PRE_VER_02" class="component_ui"></span>
				<span id="SRH_CPT_PRE_VER_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_PRE_VER_04" class="component_ui"></span>
				<span id="SRH_CPT_PRE_VER_05" class="component_ui"></span>
				<span id="SRH_CPT_PRE_VER_06" class="component_ui"></span>
			</span>
		</div>
		
		<!-- Simulation Version ID -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_SIMUL_VER_ID_CMP_01" class="component_ui"></span>
				<span id="SRH_CPT_SIMUL_VER_ID_CMP_02" class="component_ui"></span>
				<span id="SRH_CPT_SIMUL_VER_ID_CMP_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_SIMUL_VER_ID_CMP_04" class="component_ui"></span>
				<span id="SRH_CPT_SIMUL_VER_ID_CMP_05" class="component_ui"></span>
				<span id="SRH_CPT_SIMUL_VER_ID_CMP_06" class="component_ui"></span>
			</span>
		</div>
		
		<!-- Simulation Version Description -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_SIMUL_VER_DESC_CMP_01" class="component_ui"></span>
				<span id="SRH_CPT_SIMUL_VER_DESC_CMP_02" class="component_ui"></span>
				<span id="SRH_CPT_SIMUL_VER_DESC_CMP_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_SIMUL_VER_DESC_CMP_04" class="component_ui"></span>
				<span id="SRH_CPT_SIMUL_VER_DESC_CMP_05" class="component_ui"></span>
				<span id="SRH_CPT_SIMUL_VER_DESC_CMP_06" class="component_ui"></span>
			</span>
		</div>
		
		<!-- Process Description -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_PRSS_DESC_CMP_01" class="component_ui"></span>
				<span id="SRH_CPT_PRSS_DESC_CMP_02" class="component_ui"></span>
				<span id="SRH_CPT_PRSS_DESC_CMP_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_PRSS_DESC_CMP_04" class="component_ui"></span>
				<span id="SRH_CPT_PRSS_DESC_CMP_05" class="component_ui"></span>
				<span id="SRH_CPT_PRSS_DESC_CMP_06" class="component_ui"></span>
			</span>
		</div>