<div id="POP_UI_DP_23_VALID_WINDOWS" class="component_ui window_component">
	<div class="popup_area">

		<!-- 본 영역 시작  -->
		<div class="centerWrap">
			<div>
				<div class="parentCon">
					<div class="leftCon">
						<span id="POPUP_VALID_RST_CPT_01_01" class="component_ui"></span> <span
							id="POPUP_VALID_RST_CPT_01_02" class="component_ui"></span> <span
							id="POPUP_VALID_RST_CPT_01_03" class="component_ui"></span> <span
							id="POPUP_VALID_RST_CPT_01_04" class="component_ui"></span> <span
							id="POPUP_VALID_RST_CPT_01_05" class="component_ui"></span>
					</div>
					<div class="rightCon">
						<span id="POPUP_VALID_RST_CPT_01_06" class="component_ui"></span> <span
							id="POPUP_VALID_RST_CPT_01_07" class="component_ui"></span> <span
							id="POPUP_VALID_RST_CPT_01_08" class="component_ui"></span> <span
							id="POPUP_VALID_RST_CPT_01_09" class="component_ui"></span> <span
							id="POPUP_VALID_RST_CPT_01_10" class="component_ui"></span>
					</div>
				</div>
				<div id="POPUP_VALID_RST_CPT_01" class="component_ui"></div>
			</div>
			<div>
				<div id="POPUP_VALID_RST_TAB" class="talL component_ui tab_component">
<!-- 
					tab1
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T1_01" class="component_ui"></div>
						</div>
					</div>
					tab2
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T2_01" class="component_ui"></div>
						</div>
					</div>
					tab3
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T3_01" class="component_ui"></div>
						</div>
					</div>
					tab4
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T4_01" class="component_ui"></div>
						</div>
					</div>
					tab5
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T5_01" class="component_ui"></div>
						</div>
					</div>
					tab6
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T6_01" class="component_ui"></div>
						</div>
					</div>
					tab7
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T7_01" class="component_ui"></div>
						</div>
					</div>
					tab8
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T8_01" class="component_ui"></div>
						</div>
					</div>
					tab9
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T9_01" class="component_ui"></div>
						</div>
					</div>
					tab10
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T10_01" class="component_ui"></div>
						</div>
					</div>
					tab11
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T11_01" class="component_ui"></div>
						</div>
					</div>
					tab12
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T12_01" class="component_ui"></div>
						</div>
					</div>
					tab13
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T13_01" class="component_ui"></div>
						</div>
					</div>
					tab14
					<div>
						<div>
							<div id="POPUP_VALID_RST_CPT_T14_01" class="component_ui"></div>
						</div>
					</div>
					tab14 end
 -->
				</div>
				<!--tab component-->
			</div>
		</div>
	</div>
</div>
<!-- 결과 영역 종료 -->




