<div id="POP_DP_18_02_COLUMN_WINDOWS" class="component_ui window_component">
    <div class = "popup_area">	

		
	<div class="centerWrap">
		<div class="parentCon">
			<div class="leftCon col-xs-12 col-sm-8 col-md-8 col-lg-9">
				<span id="POP2_SRH_CPT_T1_01_01" class="component_ui"></span>
				<span id="POP2_SRH_CPT_T1_01_02" class="component_ui"></span>
				<span id="POP2_SRH_CPT_T1_01_03" class="component_ui"></span>
				<span id="POP2_SRH_CPT_T1_01_04" class="component_ui"></span>
			</div>
			<div class="rightCon col-xs-12 col-sm-4 col-md-4 col-lg-3">
				<span id="POP2_SRH_CPT_T1_01_05" class="component_ui"></span>
				<span id="POP2_SRH_CPT_T1_01_06" class="component_ui"></span>
				<span id="POP2_SRH_CPT_T1_01_07" class="component_ui"></span>
			</div>
		</div>
		<div class="parentCon">
			<div class="leftCon col-xs-12 col-sm-8 col-md-8 col-lg-9">
				<span id="POP2_SRH_CPT_T1_02_01" class="component_ui"></span>
				<span id="POP2_SRH_CPT_T1_02_02" class="component_ui"></span>
				<span id="POP2_SRH_CPT_T1_02_03" class="component_ui"></span>
				<span id="POP2_SRH_CPT_T1_02_04" class="component_ui"></span>
			</div>
			<div class="rightCon col-xs-12 col-sm-4 col-md-4 col-lg-3">
				<span id="POP2_SRH_CPT_T1_02_05" class="component_ui"></span>
				<span id="POP2_SRH_CPT_T1_02_06" class="component_ui"></span>
				<span id="POP2_SRH_CPT_T1_02_07" class="component_ui"></span>
			</div>
		</div>
		<div id="POP2_RST_CPT_01" class="component_ui"></div><!--solo contents-->
	</div>
    </div>
</div>



