<div id="UI_DP_25_POPUP_COMMENT_WINDOWS" class="component_ui window_component">
    <div class = "popup_area">	
		<!-- view component  -->		
		<div class="centerWrap">
			<div>
				<span id="CMT_POP_SRH_CPT_T1_01_01" class="component_ui"></span>
				<span id="CMT_POP_SRH_CPT_T1_01_02" class="component_ui"></span>
			</div>
			<div>
				<span id="CMT_POP_SRH_CPT_T1_01_03" class="component_ui"></span>
				<span id="CMT_POP_SRH_CPT_T1_01_04" class="component_ui"></span>
			</div>
			<dif>
				<span id="CMT_POP_SRH_CPT_T1_01_05" class="component_ui"></span>
				<span id="CMT_POP_SRH_CPT_T1_01_06" class="component_ui"></span>
			</dif>
			<div id="CMT_POP_RST_CPT_01" class="component_ui"></div><!--solo contents-->
		</div>
		<div class="parentCon">
			<!--
			<div class="leftCon col-xs-12 col-sm-12 col-md-12 col-lg-12">
			</div>
			<div class="rightCon col-xs-12 col-sm-3 col-md-3 col-lg-3">
			-->
			<div class="leftCon col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
				<span id="CMT_POP_SRH_CPT_T1_01_07" class="component_ui"></span>
				<span id="CMT_POP_SRH_CPT_T1_01_08" class="component_ui"></span>
				<span id="CMT_POP_SRH_CPT_T1_01_09" class="component_ui"></span>
			</div> 
		</div>
    </div>
</div>



