<div id="UI_DP_POPUP_ITEM_TREE_WINDOWS" class="component_ui window_component">

	<div id='ITEM_POP_SPLIT_02' class="component_ui split_component">
		<div class="top">
			<div class="parentCon">
				<span id="ITEM_TREE_POP_SRH_CPT_00_01" class="component_ui" style="margin-top:5px;"></span>
				<span id="ITEM_TREE_POP_SRH_CPT_00_02" class="component_ui" style="margin-top:5px;"></span>
				<span id="ITEM_TREE_POP_SRH_CPT_01_01" class="component_ui" style="margin-top:5px;"></span>
				<span id="ITEM_TREE_POP_SRH_CPT_01_02" class="component_ui" style="margin-top:5px;"></span>
				<span id="ITEM_TREE_POP_SRH_CPT_01_03" class="component_ui" style="margin-top:5px;"></span>
				<span id="ITEM_TREE_POP_SRH_CPT_01_04" class="component_ui" style="margin-top:5px;"></span>
				<span id="ITEM_TREE_POP_SRH_CPT_01_05" class="component_ui pull-right" style="margin-right:3px; margin-top:5px;"></span>
				<span id="ITEM_TREE_POP_SRH_CPT_01_06" class="component_ui pull-right" style="margin-right:3px; margin-top:5px;"></span>
				<span id="ITEM_TREE_POP_SRH_CPT_01_07" class="component_ui pull-right" style="margin-right:3px; margin-top:5px;"></span>
			</div>
		</div>
		<div class="bottom">
			<div id='ITEM_POP_SPLIT' class="component_ui split_component">
				<div class="left">
					<div class="parentCon" style="height: 7%;">
						<span id="ITEM_TREE_POP_SRH_tree_00_01" class="component_ui" style="margin-top:5px;"></span>
						<span id="ITEM_TREE_POP_SRH_tree_00_02" class="component_ui" style="margin-top:5px; margin-left : 3px;"></span>
					</div>

					<div class="parentCon" style="height: 7%;">
						<span id="ITEM_TREE_POP_SRH_tree_01_01" class="component_ui" style="margin-top:5px; margin-left : 3px;"></span>
						<span id="ITEM_TREE_POP_SRH_tree_01_02" class="component_ui" style="margin-top:5px;"></span>
						<span id="ITEM_TREE_POP_SRH_tree_01_03" class="component_ui" style="margin-top:5px;"></span>
					</div>
					<div class="parentCon" style="height: 86%;">
						<div id="ITEM_POPUP_TREE" class="component_ui" ></div>
					</div>		
				</div>
				<div class="right">
					<div id="ITEM_TREE_POP_RST_CPT_01" class="component_ui"></div>
				</div>
			</div>
		</div>
	</div>

</div>
<style type="text/css">
	#ITEM_TREE_POP_SRH_tree_01_01 > .k-button{
		background : none;
		width : 95px;
	}
	#ITEM_TREE_POP_SRH_tree_01_02 > .k-button{
		background : none;
		width : 95px;
	}
	#UI_DP_POPUP_ITEM_TREE_WINDOWS{
		overflow: hidden!important;
		/* margin-top:5px; */
	}
</style>