<meta charset="utf-8" />
<style>
body{
	overflow: hidden;
}
</style>
<section id="contentsInner" class="STANDARD">
	<!--
	?
	 -->

	<!-- 타이틀 영역 시작  -->
	<div class="data_area">
		<div id="VIEW_META" class="component_ui"></div>
		<div id="DATA_01" class="component_ui"></div>
		<div id="DATA_02" class="component_ui"></div>
	</div>
	<!-- 타이틀 영역 끝  -->

	<!-- 본 영역 시작  -->
	<div class="content_area parentCon">
		<div id= "CONTENT_SPLIT"  class="component_ui split_component">
			<!-- 조회 조건 시작  -->
			<!-- <div class="search_area leftCon col-xs-12 col-sm-4 col-md-4 col-lg-3"> -->
			<div class="search_area">
				
				<div class='commonBtn_area'>
					<span id="TTL_COMM_CPT_HELP" class="component_ui"></span>
					<span id="TTL_COMM_CPT_PERSONALIZATION" class="component_ui"></span>
					<span id="TTL_CPT_04" class="component_ui"></span>
					<span id="TTL_CPT_05" class="component_ui"></span>
				</div>
				<div class="srhTab_area">
				<div id="SRH_TAB" class="component_ui tab_component">
	
					<!--first tab-->
					<div>
						<include src="COMM/COMM_SRH_VERSION.html" />
						<include src="COMM/COMM_SRH_LOCAT.html" />
						<include src="COMM/COMM_SRH_ITEM.html" />
						<include src="COMM/COMM_SRH_ACCOUNT.html" />
						<include src="COMM/COMM_SRH_RES.html" />
						<!-- 기본 조회 조건 영역 시작 -->
	
						<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_CPT_T1_02_01" class="component_ui"></span>
								<span id="SRH_CPT_T1_02_02" class="component_ui"></span>
								<span id="SRH_CPT_T1_02_03" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="SRH_CPT_T1_02_04" class="component_ui"></span>
								<span id="SRH_CPT_T1_02_05" class="component_ui"></span>
								<span id="SRH_CPT_T1_02_06" class="component_ui"></span>
							</span>
						</div>
						<!-- 기본 조회 조건 영역 끝 -->
					</div>
					<!--first tab end-->
					
				</div><!--tab component-->
				</div>
			</div>
				<!-- 조회 조건 끝 -->
		
				<!-- 결과 영역 시작  -->
				<div class="result_area"><!--  style="overflow: hidden;" -->
					<div id="RST_CPT_01" class="component_ui"></div>												
					<!-- save button -->						
				<div class='col-lg-9 col-md-11' style='margin-left : 2%; width:45%;'>
						<div class='row'>
							<div class='col-sm-6 col-xs-12'>
								<div>
									<div id='SRH_CPT_CONTAINER_00' class='component_ui container_component' style='width:200%'>
										<div>
											<div class="parentCon" >
												<div class="col-md-11">
													<span class="leftCon" style="margin-top: 20px;">
														<span id="SRH_CPT_T1_09" class="component_ui"></span>			
													</span>
													<span class="rightCon" style="margin-top: 20px;">
														<span id="SRH_CPT_T1_10" class="component_ui"></span>			
													</span>
												</div>
											</div>		
											<div class='parentCon'>
															<!-- init(left) start -->		
															<div class="col-lg-9 col-md-11" style="margin-left: 2%; width:45%; float: left;">
																<div class="column">
																	<div class="col-sm-6 col-xs-12">										
																		<div>	
																			<div id="SRH_CPT_CONTAINER_01" class="component_ui container_component" style="width:180%">
																				<div>	
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="MS_VAL_TP_CPT_01" class="component_ui" style="margin-bottom:10px"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="MS_VAL_TP_CPT_02" class="component_ui" style="margin-bottom:10px"></span>
																						</span>
																					</div>
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_08_01" class="component_ui"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_08_06" class="component_ui"></span>
																						</span>
																					</div>
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_08_02" class="component_ui" style="margin-top:10px; margin-bottom:5px"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_08_07" class="component_ui" style="margin-top:10px; margin-bottom:5px"></span>
																						</span>
																					</div>
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_08_03" class="component_ui" style="margin-top:10px"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_08_08" class="component_ui" style="margin-top:10px"></span>
																						</span>
																					</div>
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_08_04" class="component_ui" style="margin-top:10px"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_08_09" class="component_ui" style="margin-top:10px"></span>
																						</span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<!-- init(left) end -->					
																	
																	<div class="col-sm-6 col-xs-12">									
																		<div>	
																			<div id="SRH_CPT_CONTAINER_03" class="component_ui container_component" style="width:180%">
																				<div>	
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_10_04" class="component_ui"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_10_09" class="component_ui"></span>
																						</span>
																					</div>
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_10_01" class="component_ui" style="margin-top:5px"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_10_06" class="component_ui" style="margin-top:5px"></span>
																						</span>
																					</div>
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_10_02" class="component_ui" style="margin-top:10px"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_10_07" class="component_ui" style="margin-top:10px"></span>
																						</span>
																					</div>
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_10_03" class="component_ui" style="margin-top:10px; margin-bottom:5px"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_10_08" class="component_ui" style="margin-top:10px; margin-bottom:5px"></span>
																						</span>
																					</div>

																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_10_05" class="component_ui" style="margin-top:10px"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_10_10" class="component_ui" style="margin-top:10px"></span>
																						</span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>				
															</div>
															<div class="col-lg-9 col-md-11" style="margin-left: 1%; width:45%; float: left;">
																<div class="column">
																	<div class="col-sm-6 col-xs-12">									
																		<div>	
																			<div id="SRH_CPT_CONTAINER_02" class="component_ui container_component" style="width:180%">
																				<div>	
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_09_01" class="component_ui"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_09_06" class="component_ui"></span>
																						</span>
																					</div>
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_09_02" class="component_ui" style="margin-top:10px"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_09_07" class="component_ui" style="margin-top:10px"></span>
																						</span>
																					</div>
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_09_03" class="component_ui" style="margin-top:5px"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_09_08" class="component_ui" style="margin-top:5px"></span>
																						</span>
																					</div>
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_09_04" class="component_ui" style="margin-top:10px"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_09_09" class="component_ui" style="margin-top:10px"></span>
																						</span>
																					</div>
																					<div class="parentCon" >
																						<span class="leftCon" >
																							<span id="SRH_CPT_T1_09_05" class="component_ui" style="margin-top:10px; margin-bottom:5px"></span>			
																						</span>
																						<span class="rightCon" >
																							<span id="SRH_CPT_T1_09_10" class="component_ui" style="margin-top:10px; margin-bottom:5px"></span>
																						</span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<!-- auto(right) end -->		
																</div>				
															</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- 여기 -->
				</div>
			</div>
			<!-- 결과 영역 종료 -->
		</div>

	<!-- 본 영역 종료  -->

</section>