<meta charset="utf-8" />
<section id="contentsInner" class="STANDARD">
	<div class="data_area">
		<div id="VIEW_META" class="component_ui"></div>
		<div id="DATA_01" class="component_ui"></div>
		<div id="DATA_02" class="component_ui"></div>
		<div id="DATA_03" class="component_ui"></div>
	</div>
	<div class="content_area parentCon">
		<div id= "CONTENT_SPLIT"  class="component_ui split_component" >
			<div class="search_area">
				<div class='commonBtn_area'>
					<span id="TTL_COMM_CPT_HELP" class="component_ui"></span>
					<span id="TTL_COMM_CPT_PERSONALIZATION" class="component_ui"></span>
					<span id="TTL_CPT_03" class="component_ui"></span>
					<span id="TTL_CPT_04" class="component_ui"></span>
				</div>
				<div class='srhTab_area'>	
					<div id="SRH_TAB" class="component_ui tab_component">
						<div>
							<include src="COMM/COMM_SRH_VERSION.html" />
							<div id="CONTAINER_01" class="component_ui container_component">
								<div>
									<include src="COMM/COMM_SRH_LOCAT.html" />
								</div>
							</div>
							<div id="CONTAINER_02" class="component_ui container_component">
								<div>
									<div class="parentCon" style="padding-bottom : 5px">
										<span class="leftCon">
											<span id="SRH_CPT_T1_02_01" class="component_ui"></span>
										</span> 
										<span class="rightCon">
											<span id="SRH_CPT_T1_02_04" class="component_ui"></span>
											<span id="SRH_CPT_T1_02_05" class="component_ui"></span>
										</span>
									</div>
				
									<div class="parentCon" style="padding-bottom : 5px">
										<span class="leftCon">
											<span id="SRH_CPT_T1_03_01" class="component_ui"></span>
										</span>
										<span class="rightCon">
											<span id="SRH_CPT_T1_03_04" class="component_ui"></span>
										</span>
									</div>
				
									<div class="parentCon" style="padding-bottom : 5px">
										<span class="leftCon">
											<span id="SRH_CPT_T1_04_01" class="component_ui"></span>
										</span>
										<span class="rightCon">
											<span id="SRH_CPT_T1_04_04" class="component_ui"></span>
										</span>
									</div>
				
									<div class="parentCon" style="padding-bottom : 5px">
										<span class="leftCon">
											<span id="SRH_CPT_T1_05_01" class="component_ui"></span>
										</span>
										<span class="rightCon">
											<span id="SRH_CPT_T1_05_04" class="component_ui"></span>
										</span>
									</div>
								</div>
							</div>
							
							<div id="CONTAINER_03" class="component_ui container_component">
								<div>
									<include src="COMM/COMM_SRH_ITEM.html" />
								</div>
							</div>
							
							<div class="parentCon">
								<span class="leftCon">
									<span id="SRH_CPT_T1_06_01" class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id="SRH_CPT_T1_06_04" class="component_ui"></span>
								</span>
							</div>
						</div>
						<div>
							<include src="COMM/COMM_SRH_ATTR.html" />
						</div>
					</div>
				</div>
			</div>
			<div class="result_area">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="height:100%">
						<div style="height:98%">
							<div id="RST_CPT_01" class="component_ui"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>