<div id="contentsInner">
	<div>
		<table class="searchTable">
			<tbody>
				<tr>
					<td style="text-align: center"><span id="search_1_1" class="component_ui"></span></td>
					<td><span id="search_1_2" class="component_ui"></span></td>
					<td></td>
					<td style="text-align: center"><span id="search_1_3" class="component_ui"></span></td>
					<td><span id="search_1_4" class="component_ui"></span></td>
				</tr>
				<tr>
					<td style="text-align: center"><span id="search_2_1" class="component_ui"></span></td>
					<td><span id="search_2_2" class="component_ui"></span></td>
					<td><span id="search_2_3" class="component_ui"></span></td>
					<td colspan="2">
						<span id="search_2_4" class="component_ui"></span>
						<span id="button_2_1" class="component_ui"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="">
		<div id="center" class="component_ui"></div>
	</div>

</div>

<style type="text/css">
	.searchTable {width:100%;}
	.searchTable tr:first-child > td {padding-bottom:10px;}
	.searchTable tr > td:nth-child(1) {width:110px;}
	.searchTable tr > td:nth-child(2) {width:220px;}
	.searchTable tr > td:nth-child(3) {width:20px;}
	.searchTable tr > td:nth-child(4) {width:110px;}
	#button_2_1 {margin-left:39px}
</style>