<div id="contentsInner">
	<div class="myInfoWrap">
		<table>
			<caption></caption>
			<tbody>
				<tr>
					<th>
						<span id="oldPwdName" class="component_ui"></span>
					</th>
					<td>
						<span id="oldPwdValue" class="component_ui"></span>
					</td>
				</tr>
				<tr>
					<th>
						<span id="myPwdName" class="component_ui"></span>
					</th>
					<td>
						<span id="myPwdValue" class="component_ui"></span>
					</td>
				</tr>
				<tr>
					<th>
						<span id="myRePwdName" class="component_ui"></span>
					</th>
					<td>
						<span id="myRePwdValue" class="component_ui"></span>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th></th>
					<td>
						<span id="btnSave" class="component_ui"></span>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
<style type="text/css">
	.myInfoWrap {}
	.myInfoWrap table {}
	.myInfoWrap table tr > th, .myInfoWrap table tr > td {padding:5px;}
	.myInfoWrap table tr > th {text-align:right;}
</style>