<meta charset="utf-8" />
<div id="commonPopupGroup">
	<div id="POP_UI_CM_10_01_WINDOW_01" class="component_ui window_component">
		<div id="POP_TAB_01" class="component_ui tab_component">
			
			<!-- ######## 소요거점 / 공급거점 TAB ######## -->
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_10_01_WINDOW_01_CPT_01_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_10_01_WINDOW_01_CPT_01_04" class="component_ui"></span>
						</span>
					</div>
					<hr>
					<div class="parentCon">
						<span class="leftCon">
							<span id="CONSUME_LOCAT_TP_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="CONSUME_LOCAT_TP_04" class="component_ui"></span>
							<span id="CONSUME_LOCAT_TP_05" class="component_ui" style="vertical-align: top;"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="CONSUME_LOCAT_LV_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="CONSUME_LOCAT_LV_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="CONSUME_LOCAT_CD_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="CONSUME_LOCAT_CD_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="CONSUME_LOCAT_NM_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="CONSUME_LOCAT_NM_04" class="component_ui"></span>
						</span>
					</div>
					<hr>
					<div class="parentCon">
						<span class="leftCon">
							<span id="SUPPLY_LOCAT_TP_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="SUPPLY_LOCAT_TP_04" class="component_ui"></span>
							<span id="SUPPLY_LOCAT_TP_05" class="component_ui" style="vertical-align: top;"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="SUPPLY_LOCAT_LV_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="SUPPLY_LOCAT_LV_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="SUPPLY_LOCAT_CD_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="SUPPLY_LOCAT_CD_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="SUPPLY_LOCAT_NM_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="SUPPLY_LOCAT_NM_04" class="component_ui"></span>
						</span>
					</div>
				</div>
			</div>
			
			<!-- ######## Item TAB ########-->
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_ITEM_CD_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_ITEM_CD_04" class="component_ui"></span>
							<span id="POP_ITEM_CD_05" class="component_ui" style="vertical-align:top"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_ITEM_NM_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_ITEM_NM_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_ITEM_TP_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_ITEM_TP_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_ITEM_UOM_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_ITEM_UOM_04" class="component_ui"></span>
						</span>
					</div>
				</div>
			</div>
			
			<!-- 운송정보 TAB -->
			<div>
				<div id="POP_UI_CM_10_01_WINDOW_01_GRD_02" class="component_ui"></div>
			</div>
			
			<!-- ######## 운송정보 / BOD L/T TAB ######## -->
			<div>
				<div id="POP_UI_CM_10_01_WINDOW_01_GRD" class="component_ui"></div>
			</div>
		</div>
		<footer>
			<div class="parentCon">
					<span class="rightCon">
						<span id="POP_UI_CM_10_01_WINDOW_01_CPT_99_01" class="component_ui"></span>
						<span id="POP_UI_CM_10_01_WINDOW_01_CPT_99_02" class="component_ui"></span>
					</span>
				</div>
		</footer>
	</div>
</div>