<meta charset="utf-8" />
<div id="contentsInner">
	<!-- data component-->
	<div id="POP_UI_CM_13_01_DATA_01" class="component_ui"></div>
	<div id="POP_UI_CM_13_01_DATA_02" class="component_ui"></div>
	<div id="POP_UI_CM_13_01_DATA_03" class="component_ui"></div>
	
	<div id="POP_UI_CM_13_02_DATA_01" class="component_ui"></div>	
	<div id="POP_UI_CM_13_02_DATA_02" class="component_ui"></div>

	<div id="POP_UI_CM_13_03_DATA_01" class="component_ui"></div>

	<div id="POP_UI_CM_13_01_WINDOW_01" class="component_ui window_component">
		<div class="popup_area">
			<div id="POP_UI_CM_13_01_WINDOW_01_GRD" class="component_ui" ></div>
		</div>
		<footer>
			<div class="parentCon">
				<span class="rightCon">
					<span id="POP_UI_CM_13_01_WINDOW_01_CPT_11_01" class="component_ui"></span>
					<span id="POP_UI_CM_13_01_WINDOW_01_CPT_11_05" class="component_ui"></span>
				</span>
			</div>
		</footer>
	</div>
	
	<div id="POP_UI_CM_13_02_WINDOW_01" class="component_ui window_component">
		<div id="POP_UI_CM_13_02_WINDOW_01_TAB" class="component_ui tab_component">
			<div>
				<div id="POP_UI_CM_13_02_WINDOW_DATACPT" class="component_ui"></div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_SRH_LOCAT_TP_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_SRH_LOCAT_TP_04" class="component_ui"></span>
							<span id="POP_SRH_LOCAT_TP_05" class="component_ui" style="vertical-align: top;"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_SRH_LOCAT_LV_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_SRH_LOCAT_LV_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_SRH_LOCAT_CD_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_SRH_LOCAT_CD_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_SRH_LOCAT_NM_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_SRH_LOCAT_NM_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_WAHOUS_TP_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_WAHOUS_TP_04" class="component_ui"></span>
							<span id="POP_WAHOUS_TP_05" class="component_ui" style="vertical-align: top;"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_WAHOUS_NM_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_WAHOUS_NM_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_LOAD_CAPA_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_LOAD_CAPA_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_CAPA_LIMIT_VAL_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_CAPA_LIMIT_VAL_04" class="component_ui"></span>
						</span>
					</div>					
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_13_02_WINDOW_01_CPT_09_01" class="component_ui"></span>
						</span>
						<span class="rightCon" style='text-align: left; margin:0px; width:210px;'>
							<span id="POP_UI_CM_13_02_WINDOW_01_CPT_09_04" class="component_ui" style="margin:0px"></span>
						</span>
					</div>					
				</div>
			</div>
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<div class="leftCon">
							<span id="POP_UI_CM_13_02_WINDOW_01_01" class="component_ui"></span>
							<span id="POP_UI_CM_13_02_WINDOW_01_02" class="component_ui"></span>
							<span id="POP_UI_CM_13_02_WINDOW_01_03" class="component_ui"></span>
							<span id="POP_UI_CM_13_02_WINDOW_01_04" class="component_ui"></span>
							<span id="POP_UI_CM_13_01_WINDOW_01_05" class="component_ui"></span>
						</div>
						<div class="rightCon">
							<span id="POP_UI_CM_13_02_WINDOW_01_06" class="component_ui"></span>
							<span id="POP_UI_CM_13_02_WINDOW_01_07" class="component_ui"></span>
							<span id="POP_UI_CM_13_02_WINDOW_01_08" class="component_ui"></span>
							<span id="POP_UI_CM_13_02_WINDOW_01_09" class="component_ui"></span>
							<span id="POP_UI_CM_13_02_WINDOW_01_10" class="component_ui"></span>
						</div>						
					</div>
					<div class="parentCon">
						<div id="POP_UI_CM_13_02_WINDOW_02_CPT_01_01" class="component_ui"></div>
					</div>
				</div>
			</div>
		</div>
		
		<footer>
			<div class="parentCon">
				<span class="rightCon">
					<span id="POP_UI_CM_13_02_WINDOW_01_CPT_11_01" class="component_ui"></span>
					<span id="POP_UI_CM_13_02_WINDOW_01_CPT_11_05" class="component_ui"></span>
				</span>
			</div>
		</footer>
	</div>	
	<!-- 그리드 셀 더블 클릭 시 호출되는 팝업 창.  -->
	<div id="POP_UI_CM_13_05_WINDOW_01" class="component_ui window_component">
		<div id="POP_UI_CM_13_05_WINDOW_01_TAB" class="component_ui tab_component">
			<div>
				<div id="POP_UI_CM_13_05_WINDOW_DATACPT" class="component_ui"></div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_01_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_01_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_02_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_02_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_03_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_03_04" class="component_ui"></span>
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_03_05" class="component_ui" style="vertical-align : top"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_04_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_04_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_05_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_05_04" class="component_ui"></span>
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_05_05" class="component_ui" style="vertical-align : top"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_06_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_06_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_07_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_07_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_08_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_08_04" class="component_ui"></span>
						</span>
					</div>					
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_09_01" class="component_ui"></span>
						</span>
						<span class="rightCon" style='text-align: left; margin:0px; width:210px;'>
							<span id="POP_UI_CM_13_05_WINDOW_01_CPT_09_04" class="component_ui" style="margin:0px"></span>
						</span>
					</div>					
				</div>
			</div>
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<div class="leftCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_01" class="component_ui"></span>
							<span id="POP_UI_CM_13_05_WINDOW_01_02" class="component_ui"></span>
							<span id="POP_UI_CM_13_05_WINDOW_01_03" class="component_ui"></span>
							<span id="POP_UI_CM_13_05_WINDOW_01_04" class="component_ui"></span>
							<span id="POP_UI_CM_13_05_WINDOW_01_05" class="component_ui"></span>
						</div>
						<div class="rightCon">
							<span id="POP_UI_CM_13_05_WINDOW_01_06" class="component_ui"></span>
							<span id="POP_UI_CM_13_05_WINDOW_01_07" class="component_ui"></span>
							<span id="POP_UI_CM_13_05_WINDOW_01_08" class="component_ui"></span>
							<span id="POP_UI_CM_13_05_WINDOW_01_09" class="component_ui"></span>
							<span id="POP_UI_CM_13_05_WINDOW_01_10" class="component_ui"></span>
						</div>						
					</div>
					<div class="parentCon">
						<div id="POP_UI_CM_13_05_WINDOW_02_CPT_01_01" class="component_ui"></div>
					</div>
				</div>
			</div>
		</div>
		
		<footer>
			<div class="parentCon">
				<span class="rightCon">
					<span id="POP_UI_CM_13_05_WINDOW_01_CPT_11_01" class="component_ui"></span>
					<span id="POP_UI_CM_13_05_WINDOW_01_CPT_11_05" class="component_ui"></span>
				</span>
			</div>
		</footer>
	</div>		
	
</div>
