<style>
	.rightCon:disabled {
		margin:0px; width:210px; text-align:left;
	}
</style>
<meta charset="utf-8" />
<div id="commonPopupGroup">
	<div id="POP_UI_CM_04_01_WINDOW_01" class="component_ui window_component">
		<div id="popup_tab" class="component_ui tab_component">
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_SRH_LOCAT_TP_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_SRH_LOCAT_TP_04" class="component_ui"></span>
							<span id="POP_SRH_LOCAT_TP_05" class="component_ui" style="vertical-align: top;"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_SRH_LOCAT_LV_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_SRH_LOCAT_LV_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_SRH_LOCAT_CD_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_SRH_LOCAT_CD_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_SRH_LOCAT_NM_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_SRH_LOCAT_NM_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_05_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_05_04" class="component_ui"></span>
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_05_05" class="component_ui" style="vertical-align: top;"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_06_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_06_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_07_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_07_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_08_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_08_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_09_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_09_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_10_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_10_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_11_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_11_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_12_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_12_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_13_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_13_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_14_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_14_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_15_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_15_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_16_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_16_04" class="component_ui"></span>
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_16_05" class="component_ui" style="vertical-align:top"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_17_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_17_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_18_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_18_04" class="component_ui"></span>
						</span>
					</div>
				</div>	
			</div>
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_21_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_21_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_22_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_22_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_23_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_23_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_24_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_24_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_25_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_25_04" class="component_ui"></span>
						</span>
					</div>
				</div>
			</div>
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_31_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_31_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_32_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_32_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_33_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_33_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_34_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_34_04" class="component_ui"></span>
						</span>
					</div>
				</div>
			</div>
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_41_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_41_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_42_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_01_WINDOW_01_CPT_42_04" class="component_ui"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="parentCon">
				<span class="rightCon">
					<span id="POP_UI_CM_04_01_WINDOW_01_CPT_36_01" class="component_ui"></span>
					<span id="POP_UI_CM_04_01_WINDOW_01_CPT_36_05" class="component_ui"></span>
				</span>
			</div>
		</footer>
	</div>
	
	<!-- 통화 조회 Window -->
	<div id="POP_UI_CM_04_03_WINDOW_01" class="component_ui window_component">
		<div id="POP_UI_CM_04_03_WINDOW_01_GRD" class="component_ui" ></div>
	</div>	
</div>

<div id="contentsInner">
	<div id="POP_UI_CM_04_05_WINDOW_01" class="component_ui window_component">
		<div id="popup_tab_05" class="component_ui tab_component">
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_01_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_01_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_02_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_02_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_03_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_03_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_04_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_04_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_05_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_05_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_06_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_06_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_07_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_07_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_08_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_08_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_09_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_09_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_10_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_10_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_11_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_11_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_12_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_12_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_13_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_13_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_14_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_14_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_15_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_15_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_16_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_16_04" class="component_ui"></span>
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_16_05" class="component_ui" style="vertical-align:top"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_17_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_17_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_18_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_18_04" class="component_ui"></span>
						</span>
					</div>
				</div>	
			</div>
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_21_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_21_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_22_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_22_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_23_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_23_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_24_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_24_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_25_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_25_04" class="component_ui"></span>
						</span>
					</div>
				</div>
			</div>
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_31_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_31_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_32_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_32_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_33_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_33_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_34_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_34_04" class="component_ui"></span>
						</span>
					</div>
				</div>
			</div>
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_41_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_41_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_42_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_CM_04_05_WINDOW_01_CPT_42_04" class="component_ui"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="parentCon">
				<span class="rightCon">
					<span id="POP_UI_CM_04_05_WINDOW_01_CPT_36_01" class="component_ui"></span>
					<span id="POP_UI_CM_04_05_WINDOW_01_CPT_36_05" class="component_ui"></span>
				</span>
			</div>
		</footer>
	</div>
	<div id="POP_UI_CM_04_06_WINDOW_01" class="component_ui window_component">
		<div id="POP_UI_CM_04_06_WINDOW_01_GRD" class="component_ui" ></div>
	</div>
	<div id="POP_UI_CM_04_07_WINDOW_01" class="component_ui window_component">
		<div id="POP_UI_CM_04_07_WINDOW_01_GRD" class="component_ui" ></div>
	</div>
	<div id="POP_UI_CM_04_08_WINDOW_01" class="component_ui window_component">
		<div id="POP_UI_CM_04_08_WINDOW_01_GRD" class="component_ui" ></div>
	</div>			
</div>

