<meta charset="utf-8" />
<div id="commonPopupGroup">
	<div id="POP_UI_CM_05_05_WINDOW_01" class="component_ui window_component">
		<div class="popup_area">
<!-- 			<div id="POP_UI_CM_05_05_WINDOW_01" class="component_ui window_component"> -->
			<!-- 검색 영역 -->
			<div class="parentCon" style="border:1px solid lightgray; height:38px; width:99.8%; margin-bottom: 10px;">
				<span class="leftCon" style="margin-left:2px;">
					<span id="POP_UI_CM_05_05_WINDOW_01_CPT_01" class="component_ui"></span>
					<span id="POP_UI_CM_05_05_WINDOW_01_CPT_02" class="component_ui" style=" margin-right:3px"></span>
					<span id="POP_UI_CM_05_05_WINDOW_01_CPT_03" class="component_ui"></span>
					<span id="POP_UI_CM_05_05_WINDOW_01_CPT_04" class="component_ui" style="margin-right:3px"></span>
					<span id="POP_UI_CM_05_05_WINDOW_01_CPT_05" class="component_ui"></span>
					<span id="POP_UI_CM_05_05_WINDOW_01_CPT_06" class="component_ui" style="margin-right:3px"></span>
					<span id="POP_UI_CM_05_05_WINDOW_01_CPT_07" class="component_ui"></span>
					<span id="POP_UI_CM_05_05_WINDOW_01_CPT_08" class="component_ui" style="margin-right:3px"></span>
				</span>
				<span class="rightCon" style="margin-right:2px;">
					<span id="POP_UI_CM_05_05_WINDOW_01_CPT_90" class="component_ui"></span>
					<span id="POP_UI_CM_05_05_WINDOW_01_CPT_100" class="component_ui" style="margin-right:5px"></span>
				</span>
			</div>
				<div id="POP_UI_CM_05_05_WINDOW_01_GRD" class="component_ui" ></div>
		</div>
	</div>
	<footer>
		<div class="parentCon">
			<span class="rightCon">
				<span id="POP_UI_CM_05_05_WINDOW_01_CPT_30_01" class="component_ui"></span>
				<span id="POP_UI_CM_05_05_WINDOW_01_CPT_30_05" class="component_ui"></span>
			</span>
		</div>
	</footer>	
</div>
	
<div id="POP_UI_CM_05_06_WINDOW_01" class="component_ui window_component">
	<div class="popup_area">
<!-- 			<div id="POP_UI_CM_05_06_WINDOW_01" class="component_ui window_component"> -->
			<!-- 검색 영역 -->
		<div class="parentCon" style="border:1px solid lightgray; height:38px; width:99.8%; margin-bottom: 10px;">
			<span class="leftCon" style="margin-left:2px;">
				<span id="POP_UI_CM_05_06_WINDOW_01_CPT_01" class="component_ui" style="margin-top:5px"></span>
				<span id="POP_UI_CM_05_06_WINDOW_01_CPT_02" class="component_ui" style="margin-top:5px; margin-right:5px"></span>
				<span id="POP_UI_CM_05_06_WINDOW_01_CPT_03" class="component_ui" style="margin-top:5px"></span>
				<span id="POP_UI_CM_05_06_WINDOW_01_CPT_04" class="component_ui" style="margin-top:5px; margin-right:5px"></span>
				<span id="POP_UI_CM_05_06_WINDOW_01_CPT_05" class="component_ui" style="margin-top:5px"></span>
				<span id="POP_UI_CM_05_06_WINDOW_01_CPT_06" class="component_ui" style="margin-top:1px; margin-right:5px"></span>
				<span id="POP_UI_CM_05_06_WINDOW_01_CPT_07" class="component_ui" style="margin-top:5px"></span>
				<span id="POP_UI_CM_05_06_WINDOW_01_CPT_08" class="component_ui" style="margin-top:5px; margin-right:5px"></span>
			</span>
			<span class="rightCon" style="margin-right:2px;">
				<span id="POP_UI_CM_05_06_WINDOW_01_CPT_90" class="component_ui" style="margin-top:5px;"></span>
				<span id="POP_UI_CM_05_06_WINDOW_01_CPT_100" class="component_ui" style="margin-top:5px;  margin-right:5px"></span>
			</span>
		</div>
		<div class="parentCon" style="margin-botton:10px;">
		<!-- 결과 영역 -->
			<div id="POP_UI_CM_05_06_WINDOW_01_GRD" class="component_ui"></div>
		</div>
		<div class="parentCon">
			<div id="POP_UI_CM_05_06_WINDOW_01_GRD_02" class="component_ui" ></div>				
		</div>
<!-- 		</div> -->
	</div>
	<footer>
		<div class="parentCon">
			<span class="rightCon">
				<span id="POP_UI_CM_05_06_WINDOW_01_CPT_30_01" class="component_ui"></span>
				<span id="POP_UI_CM_05_06_WINDOW_01_CPT_30_05" class="component_ui"></span>
			</span>
		</div>
	</footer>	
</div>	