<meta charset="utf-8" />
<section id="contentsInner" class="STANDARD">
	<!--
 
	Title : Global Planning BOM
	UI id : UI_CM_11
	최초 작성자 : 조아람
	최초 생성일 : 2017.10.18
	마지막 작성자 : 조아람
	마지막 수정일 : 2017.10.18
	파일버전 : 1.0
	 
	설명
	 - Global Planning BOM
	 
	History (수정일자 / 수정자 / 수정내용)
	- 2017.10.18 / 조아람 / 최초 작성
	 
	메뉴 Path
	-  SCM Network Modeling > SCM 공급망 모델링 
	 
	구조
	- 상단 :
	- 중단 : 콤보박스(2), Inputbox(2)
	- 하단 : R-Grid(1)
	 
	 -->

	<!-- 타이틀 영역 시작  -->
	<div class="data_area">

		<!-- data component-->
		<div id="VIEW_META" class="component_ui"></div>
		<div id="DROPDOWN" class="component_ui"></div>
		<div id="DATA_02" class="component_ui"></div>

	</div>
	<!-- 타이틀 영역 끝  -->

	<!-- 본 영역 시작  -->
	<div class="content_area parentCon">
		<div id='CONTENT_SPLIT' class="component_ui split_component">
			<!-- 조회 조건 시작  -->
			<div class="search_area">

				<!-- 공통 버튼 영역 시작  -->
				<div class="commonBtn_area">
					<span id="TTL_COMM_CPT_HELP" class="component_ui"></span>
					<span id="TTL_COMM_CPT_PERSONALIZATION" class="component_ui"></span>
					<span id="TTL_CPT_03" class="component_ui"></span>
					<span id="TTL_CPT_04" class="component_ui"></span>
					<span id="TTL_CPT_05" class="component_ui"></span>
				</div>
				<!-- 공통 버튼 영역 끝 -->
				<div class="srhTab_area">
					<div id="SRH_TAB" class="component_ui tab_component">
						
						<!--first tab-->
						<div>
							<!-- 기본 조회 조건 영역 시작 -->
							<div class="parentCon">
								<span class="leftCon">
									<span id="SRH_CPT_T1_01_01" class="component_ui"></span>
									<span id="SRH_CPT_T1_01_02" class="component_ui"></span>
									<span id="SRH_CPT_T1_01_03" class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id="SRH_CPT_T1_01_04" class="component_ui"></span>
									<span id="SRH_CPT_T1_01_05" class="component_ui"></span>
									<span id="SRH_CPT_T1_01_06" class="component_ui"></span>
								</span>
							</div>
							<div>
								<div id='SRH_CPT_CONTAINER_01' class="component_ui container_component"> 
									<div>
										<include src="COMM/COMM_SRH_LOCAT.html" />
									</div>
								</div>
							</div>
							
							<div>
								<div id='SRH_CPT_CONTAINER_02' class="component_ui container_component"> 
									<div>
										<include src="COMM/COMM_SRH_ITEM.html" />
									</div>
								</div>
							</div>
							
 							<div>	
								<div id='SRH_CPT_CONTAINER_03' class="component_ui container_component"> 
									<div>
										<div class="parentCon">
											<span class="leftCon">
												<span id="SRH_CPT_T1_02_01" class="component_ui"></span>
												<span id="SRH_CPT_T1_02_02" class="component_ui"></span>
												<span id="SRH_CPT_T1_02_03" class="component_ui"></span>
											</span>
											<span class="rightCon">
												<span id="SRH_CPT_T1_02_04" class="component_ui"></span>
												<span id="SRH_CPT_T1_02_05" class="component_ui"></span>
												<span id="SRH_CPT_T1_02_06" class="component_ui"></span>
											</span>
										</div>
										<div class="parentCon">
											<span class="leftCon">
												<span id="SRH_CPT_T1_03_01" class="component_ui"></span>
												<span id="SRH_CPT_T1_03_02" class="component_ui"></span>
												<span id="SRH_CPT_T1_03_03" class="component_ui"></span>
											</span>
											<span class="rightCon">
												<span id="SRH_CPT_T1_03_04" class="component_ui"></span>
												<span id="SRH_CPT_T1_03_05" class="component_ui"></span>
												<span id="SRH_CPT_T1_03_06" class="component_ui"></span>
											</span>
										</div>
										<div class="parentCon">
											<span class="leftCon">
												<span id="SRH_CPT_T1_04_01" class="component_ui"></span>
												<span id="SRH_CPT_T1_04_02" class="component_ui"></span>
												<span id="SRH_CPT_T1_04_03" class="component_ui"></span>
											</span>
											<span class="rightCon">
												<span id="SRH_CPT_T1_04_04" class="component_ui"></span>
												<span id="SRH_CPT_T1_04_05" class="component_ui"></span>
												<span id="SRH_CPT_T1_04_06" class="component_ui"></span>
											</span>
										</div>
										<div class="parentCon">
											<span class="leftCon">
												<span id="SRH_CPT_T1_05_01" class="component_ui"></span>
												<span id="SRH_CPT_T1_05_02" class="component_ui"></span>
												<span id="SRH_CPT_T1_05_03" class="component_ui"></span>
											</span>
											<span class="rightCon">
												<span id="SRH_CPT_T1_05_04" class="component_ui"></span>
												<span id="SRH_CPT_T1_05_05" class="component_ui"></span>
												<span id="SRH_CPT_T1_05_06" class="component_ui"></span>
											</span>
										</div>
									</div>
								</div>
							</div>
							
							<div class="parentCon" style="margin-top:30px">
								<span class="leftCon">
									<span id="SRH_CPT_T1_06_01" class="component_ui"></span>
									<span id="SRH_CPT_T1_06_02" class="component_ui"></span>
									<span id="SRH_CPT_T1_06_03" class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id="SRH_CPT_T1_06_04" class="component_ui"></span>
									<span id="SRH_CPT_T1_06_05" class="component_ui"></span>
									<span id="SRH_CPT_T1_06_06" class="component_ui"></span>
								</span>
							</div>
	
							<div class="parentCon">
								<span class="leftCon">
									<span id="SRH_CPT_T1_07_01" class="component_ui"></span>
									<span id="SRH_CPT_T1_07_02" class="component_ui"></span>
									<span id="SRH_CPT_T1_07_03" class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id="SRH_CPT_T1_07_04" class="component_ui"></span>
									<span id="SRH_CPT_T1_07_05" class="component_ui"></span>
									<span id="SRH_CPT_T1_07_06" class="component_ui"></span>
								</span>
							</div>
	
							<div class="parentCon">
								<span class="leftCon">
									<span id="SRH_CPT_T1_08_01" class="component_ui"></span>
									<span id="SRH_CPT_T1_08_02" class="component_ui"></span>
									<span id="SRH_CPT_T1_08_03" class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id="SRH_CPT_T1_08_04" class="component_ui"></span>
									<span id="SRH_CPT_T1_08_05" class="component_ui"></span>
									<span id="SRH_CPT_T1_08_06" class="component_ui"></span>
								</span>
							</div>
	
							<div class="parentCon">
								<span class="leftCon">
									<span id="SRH_CPT_T1_09_01" class="component_ui"></span>
									<span id="SRH_CPT_T1_09_02" class="component_ui"></span>
									<span id="SRH_CPT_T1_09_03" class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id="SRH_CPT_T1_09_04" class="component_ui"></span>
									<span id="SRH_CPT_T1_09_05" class="component_ui"></span>
									<span id="SRH_CPT_T1_09_06" class="component_ui"></span>
								</span>
							</div>
	
							<div class="parentCon">
								<span class="leftCon">
									<span id="SRH_CPT_T1_10_01" class="component_ui"></span>
									<span id="SRH_CPT_T1_10_02" class="component_ui"></span>
									<span id="SRH_CPT_T1_10_03" class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id="SRH_CPT_T1_10_04" class="component_ui"></span>
									<span id="SRH_CPT_T1_10_05" class="component_ui"></span>
									<span id="SRH_CPT_T1_10_06" class="component_ui"></span>
								</span>
							</div>
	
							<div>
								<div id="SRH_CPT_T1_11" class="component_ui"></div>
							</div>
							<div>
								<div id="SRH_CPT_T1_12" class="component_ui"></div>
							</div>
							<div>
								<div id="SRH_CPT_T1_13" class="component_ui"></div>
							</div>
	
							<!-- 기본 조회 조건 영역 끝 -->
						</div>
						<!--first tab end-->
	
						<!--second tab start-->
						<div>
							<!-- 기본 조회 조건 영역 시작 -->
							<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_CPT_T2_01_01" class="component_ui"></span>
								<span id="SRH_CPT_T2_01_02" class="component_ui"></span>
								<span id="SRH_CPT_T2_01_03" class="component_ui"></span>
							</span>
								<span class="rightCon">
								<span id="SRH_CPT_T2_01_04" class="component_ui"></span>
								<span id="SRH_CPT_T2_01_05" class="component_ui"></span>
								<span id="SRH_CPT_T2_01_06" class="component_ui"></span>
							</span>
							</div>
	
							<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_CPT_T2_02_01" class="component_ui"></span>
								<span id="SRH_CPT_T2_02_02" class="component_ui"></span>
								<span id="SRH_CPT_T2_02_03" class="component_ui"></span>
							</span>
								<span class="rightCon">
								<span id="SRH_CPT_T2_02_04" class="component_ui"></span>
								<span id="SRH_CPT_T2_02_05" class="component_ui"></span>
								<span id="SRH_CPT_T2_02_06" class="component_ui"></span>
							</span>
							</div>
	
							<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_CPT_T2_03_01" class="component_ui"></span>
								<span id="SRH_CPT_T2_03_02" class="component_ui"></span>
								<span id="SRH_CPT_T2_03_03" class="component_ui"></span>
							</span>
								<span class="rightCon">
								<span id="SRH_CPT_T2_03_04" class="component_ui"></span>
								<span id="SRH_CPT_T2_03_05" class="component_ui"></span>
								<span id="SRH_CPT_T2_03_06" class="component_ui"></span>
							</span>
							</div>
	
							<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_CPT_T2_04_01" class="component_ui"></span>
								<span id="SRH_CPT_T2_04_02" class="component_ui"></span>
								<span id="SRH_CPT_T2_04_03" class="component_ui"></span>
							</span>
								<span class="rightCon">
								<span id="SRH_CPT_T2_04_04" class="component_ui"></span>
								<span id="SRH_CPT_T2_04_05" class="component_ui"></span>
								<span id="SRH_CPT_T2_04_06" class="component_ui"></span>
							</span>
							</div>
	
							<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_CPT_T2_05_01" class="component_ui"></span>
								<span id="SRH_CPT_T2_05_02" class="component_ui"></span>
								<span id="SRH_CPT_T2_05_03" class="component_ui"></span>
							</span>
								<span class="rightCon">
								<span id="SRH_CPT_T2_05_04" class="component_ui"></span>
								<span id="SRH_CPT_T2_05_05" class="component_ui"></span>
								<span id="SRH_CPT_T2_05_06" class="component_ui"></span>
							</span>
							</div>
	
							<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_CPT_T2_06_01" class="component_ui"></span>
								<span id="SRH_CPT_T2_06_02" class="component_ui"></span>
								<span id="SRH_CPT_T2_06_03" class="component_ui"></span>
							</span>
								<span class="rightCon">
								<span id="SRH_CPT_T2_06_04" class="component_ui"></span>
								<span id="SRH_CPT_T2_06_05" class="component_ui"></span>
								<span id="SRH_CPT_T2_06_06" class="component_ui"></span>
							</span>
							</div>
	
							<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_CPT_T2_07_01" class="component_ui"></span>
								<span id="SRH_CPT_T2_07_02" class="component_ui"></span>
								<span id="SRH_CPT_T2_07_03" class="component_ui"></span>
							</span>
								<span class="rightCon">
								<span id="SRH_CPT_T2_07_04" class="component_ui"></span>
								<span id="SRH_CPT_T2_07_05" class="component_ui"></span>
								<span id="SRH_CPT_T2_07_06" class="component_ui"></span>
							</span>
							</div>
	
							<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_CPT_T2_08_01" class="component_ui"></span>
								<span id="SRH_CPT_T2_08_02" class="component_ui"></span>
								<span id="SRH_CPT_T2_08_03" class="component_ui"></span>
							</span>
								<span class="rightCon">
								<span id="SRH_CPT_T2_08_04" class="component_ui"></span>
								<span id="SRH_CPT_T2_08_05" class="component_ui"></span>
								<span id="SRH_CPT_T2_08_06" class="component_ui"></span>
							</span>
							</div>
	
							<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_CPT_T2_09_01" class="component_ui"></span>
								<span id="SRH_CPT_T2_09_02" class="component_ui"></span>
								<span id="SRH_CPT_T2_09_03" class="component_ui"></span>
							</span>
								<span class="rightCon">
								<span id="SRH_CPT_T2_09_04" class="component_ui"></span>
								<span id="SRH_CPT_T2_09_05" class="component_ui"></span>
								<span id="SRH_CPT_T2_09_06" class="component_ui"></span>
							</span>
							</div>
	
							<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_CPT_T2_10_01" class="component_ui"></span>
								<span id="SRH_CPT_T2_10_02" class="component_ui"></span>
								<span id="SRH_CPT_T2_10_03" class="component_ui"></span>
							</span>
								<span class="rightCon">
								<span id="SRH_CPT_T2_10_04" class="component_ui"></span>
								<span id="SRH_CPT_T2_10_05" class="component_ui"></span>
								<span id="SRH_CPT_T2_10_06" class="component_ui"></span>
							</span>
							</div>
	
							<div>
								<div id="SRH_CPT_T2_11" class="component_ui"></div>
							</div>
							<div>
								<div id="SRH_CPT_T2_12" class="component_ui"></div>
							</div>
							<div>
								<div id="SRH_CPT_T2_13" class="component_ui"></div>
							</div>
							
							
							<!-- 기본 조회 조건 영역 끝 -->
						</div>
						<!--second tab end-->
	
	
					</div><!--tab component-->
				</div>
			</div>
			<!-- 조회 조건 끝 -->

			<!-- 결과 영역 시작  -->
			<div class="result_area">
				<div class="row" style="height:99%">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"style="height:100%">
						<div style="height:100%">
							<div id="RST_TAB_01" class="component_ui tab_component" style="height:100%">
								<div style="height:100%">
									<div class="parentCon" style="height:4%">
										<div class="leftCon">
											<span id="BTN_EXPORT" class="component_ui"></span>
											<span id="BTN_IMPORT" class="component_ui"></span>
											<span id="RST_CPT_01_01" class="component_ui"></span>
											<span id="RST_CPT_01_02" class="component_ui"></span>
											<span id="RST_CPT_01_03" class="component_ui"></span>
											<span id="RST_CPT_01_04" class="component_ui"></span>
											<span id="RST_CPT_01_05" class="component_ui"></span>
										</div>
										<div class="rightCon">
											<span id="RST_CPT_01_06" class="component_ui"></span>
											<span id="RST_CPT_01_07" class="component_ui"></span>
											<span id="RST_CPT_01_08" class="component_ui"></span>
											<span id="RST_CPT_01_09" class="component_ui"></span>
											<span id="RST_CPT_01_10" class="component_ui"></span>
										</div>
									</div>
									<div style="height:50%">
										<div id="RST_CPT_01" class="component_ui"></div>
									</div>
									<div class="parentCon" style="height:1%"></div>
									<div class="parentCon" style="height:4%; margin-top:6px;">
										<div class="leftCon">
											<span id="RST_CPT_03_01" class="component_ui"></span>
											<span id="RST_CPT_03_02" class="component_ui"></span>
											<span id="RST_CPT_03_03" class="component_ui"></span>
											<span id="RST_CPT_03_04" class="component_ui"></span>
											<span id="RST_CPT_03_05" class="component_ui"></span>
										</div>
										<div class="rightCon">
											<span id="RST_CPT_03_06" class="component_ui"></span>
											<span id="RST_CPT_03_07" class="component_ui"></span>
											<span id="RST_CPT_03_08" class="component_ui"></span>
											<span id="RST_CPT_03_09" class="component_ui"></span>
											<span id="RST_CPT_03_10" class="component_ui"></span>
										</div>
									</div>
									<div style="height:40%">
										<div id="RST_CPT_03" class="component_ui"></div>
									</div>
								</div>
								<div style="height:100%">
									<div class="parentCon" style="height:4%">
										<div class="leftCon">
											<span id="RST_CPT_02_01" class="component_ui"></span>
											<span id="RST_CPT_02_02" class="component_ui"></span>
											<span id="RST_CPT_02_03" class="component_ui"></span>
											<span id="RST_CPT_02_04" class="component_ui"></span>
											<span id="RST_CPT_02_05" class="component_ui"></span>
										</div>
										<div class="rightCon">
											<span id="RST_CPT_02_06" class="component_ui"></span>
											<span id="RST_CPT_02_07" class="component_ui"></span>
											<span id="RST_CPT_02_08" class="component_ui"></span>
											<span id="RST_CPT_02_09" class="component_ui"></span>
											<span id="RST_CPT_02_10" class="component_ui"></span>
										</div>
									</div>
									<div style="height:99.5%">
										<div id="RST_CPT_02" class="component_ui"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 결과 영역 종료 -->
		</div>
	</div>
	<!-- 본 영역 종료  -->

</section>

