<meta charset="utf-8" />
<section id="contentsInner" class="STANDARD">

	<!-- 타이틀 영역 시작  -->
	<div class="data_area">

		<!-- data component-->
		<div id="VIEW_META" class="component_ui"></div>
		<div id="DATA_01" class="component_ui"></div>
		<div id="DATA_02" class="component_ui"></div>
		<div id="DATA_03" class="component_ui"></div>
		<span id="DATA_INPUTBOX_01" class="component_ui" style="display:none;"></span>
		<span id="DATA_INPUTBOX_02" class="component_ui" style="display:none;"></span>
		<span id="DATA_INPUTBOX_03" class="component_ui" style="display:none;"></span>
	</div>
	<!-- 타이틀 영역 끝  -->

	<!-- 본 영역 시작  -->
	<div class="content_area parentCon">
		<!-- 결과 영역 시작  -->
		<div id="CONTENT_SPLIT" class="component_ui split_component">
			<div class="search_area">
				<!-- 공통 버튼 영역 시작  -->
				<div class='commonBtn_area'>
					<span id="TTL_COMM_CPT_HELP" class="component_ui"></span>
					<span id="TTL_COMM_CPT_PERSONALIZATION" class="component_ui"></span>
					<span id="TTL_CPT_03" class="component_ui"></span>
					<span id="TTL_CPT_04" class="component_ui"></span>
					<span id="TTL_CPT_05" class="component_ui"></span>
				</div>
				<!-- 공통 버튼 영역 끝 -->
				<div class="srhTab_area">
					<div id="SRH_TAB" class="component_ui tab_component">
						<div class="mainVersionWrap">
							<div class="parentCon">
								<span class="leftCon">
									<span id='RST_CPT_T1_S1_01_01' class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id='RST_CPT_T1_S1_01_02' class="component_ui"></span>
								</span>
							</div>
							<div class="parentCon">
								<span class="leftCon">
									<span id='RST_CPT_T1_S1_00_01' class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id='RST_CPT_T1_S1_00_02' class="component_ui"></span>
									<span id='RST_CPT_T1_S1_00_03' class="component_ui"></span>
								</span>
							</div>
							<div class="parentCon">
								<span class="leftCon">
									<span id='RST_CPT_T1_S1_02_01' class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id='RST_CPT_T1_S1_02_02' class="component_ui"></span>
									<span id='RST_CPT_T1_S1_02_03' class="component_ui"></span>
								</span>
							</div>
							<div class="parentCon">
								<span class="leftCon">
									<span id='RST_CPT_T1_S1_03_01' class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id='RST_CPT_T1_S1_03_02' class="component_ui"></span>
								</span>
							</div>
							<div class="parentCon">
								<span class="leftCon">
									<span id='RST_CPT_T1_S1_04_01' class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id='RST_CPT_T1_S1_04_02' class="component_ui"></span>
								</span>
							</div>
							<div class="parentCon">
								<span class="leftCon">
								</span>
								<span class="rightCon" >
									<span id='RST_CPT_T1_S1_04_03' class="component_ui"></span>
								</span>
							</div>
							<div class="parentCon">
								<span class="leftCon">
									<span id='RST_CPT_T1_S1_05_01' class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id='RST_CPT_T1_S1_05_02' class="component_ui"></span>
								</span>
							</div>
							<div class="parentCon">
								<span class="leftCon">
									<span id='RST_CPT_T1_S1_06_01' class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id='RST_CPT_T1_S1_06_02' class="component_ui"></span>
								</span>
							</div>
							<div class="parentCon">
								<span class="leftCon">
									<span id='RST_CPT_T1_S1_07_01' class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id='RST_CPT_T1_S1_07_02' class="component_ui"></span>
								</span>
							</div>
							<div class="parentCon">
								<span class="leftCon">
									<span id='RST_CPT_T1_S1_09_01' class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id='RST_CPT_T1_S1_09_02' class="component_ui"></span>
								</span>
							</div>
							<div class="parentCon">
								<span class="leftCon">
									<span id='RST_CPT_T1_S1_10_01' class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id='RST_CPT_T1_S1_10_02' class="component_ui"></span>
								</span>
							</div>
						</div>
					</div><!--tab component-->
				</div>
			</div><!--CONTENT_SPLIT first-->
			<div class="result_area">
				<div id="RST_TAB" class="component_ui tab_component">
					<div class="rstTabFirst">
						<div id='RST_CPT_01' class="component_ui"></div>
					</div><!--RST_TAB first-->
					<div class="rstTabSecond">
						<div id="RST_CPT_02" class="component_ui"></div>
					</div><!--RST_TAB second-->
				</div><!--RST_TAB-->
			</div><!--CONTENT_SPLIT second-->
		</div>
	</div>
	<!-- pop-up to select scenario version -->
	<div id="POP_UI_CM_17_SELECT_SNRIO_VER" class="component_ui window_component">
		<div id="POP_UI_CM_17_SELECT_SNRIO_VER_GRD" class="component_ui"></div>
	</div>
</section>

<style type="text/css">

	.srhTabFirst > div { margin:10px 0; }
	.mainVersionWrap .boxing > div { margin:10px 0; }
	.mainVersionWrap .boxing > div > span:first-child { margin-right:10px; }

	#POP_CPT_01_01_04
	{vertical-align:top;}
</style>