<meta charset="utf-8" />
<section id="contentsInner" class="STANDARD">
	<!-- 타이틀 영역 시작  -->
	<div class="data_area">

		<!-- data component-->
		<div id="VIEW_META" class="component_ui"></div>
		<div id="DATA_01" class="component_ui"></div>
		<div id="DATA_02" class="component_ui"></div>
		<div id="DATA_03" class="component_ui"></div>
		<span id="DATA_INPUTBOX_01" class="component_ui" style="display:none;"></span>
		<span id="DATA_INPUTBOX_02" class="component_ui" style="display:none;"></span>
		<span id="DATA_INPUTBOX_03" class="component_ui" style="display:none;"></span>

	</div>
	<!-- 타이틀 영역 끝  -->

	<!-- 본 영역 시작  -->
	<div class="content_area parentCon">
		<div id="CONTENT_SPLIT" class="component_ui split_component">
			<!-- 조회 조건 시작  -->
			<div class="search_area">
				<!-- 공통 버튼 영역 시작  -->
				<div class='commonBtn_area'>
					<span id="TTL_COMM_CPT_HELP" class="component_ui"></span>
					<span id="TTL_COMM_CPT_PERSONALIZATION" class="component_ui"></span>
					<span id="TTL_CPT_03" class="component_ui"></span>
					<span id="TTL_CPT_04" class="component_ui"></span>
					<span id="TTL_CPT_05" class="component_ui"></span>
				</div>
				<!-- 공통 버튼 영역 끝 -->

				<div class="srhTab_area">
					<div id="SRH_TAB" class="component_ui tab_component">

					<!--first tab-->
					<div>
						<!-- 기본 조회 조건 영역 시작 -->
						<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_CPT_T1_01_01" class="component_ui"></span>
								<span id="SRH_CPT_T1_01_02" class="component_ui"></span>
								<span id="SRH_CPT_T1_01_03" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="SRH_CPT_T1_01_04" class="component_ui"></span>
								<span id="SRH_CPT_T1_01_05" class="component_ui"></span>
								<span id="SRH_CPT_T1_01_06" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_CPT_T1_02_01" class="component_ui"></span>
								<span id="SRH_CPT_T1_02_02" class="component_ui"></span>
								<span id="SRH_CPT_T1_02_03" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="SRH_CPT_T1_02_04" class="component_ui"></span>
								<span id="SRH_CPT_T1_02_05" class="component_ui"></span>
								<span id="SRH_CPT_T1_02_06" class="component_ui"></span>
							</span>
						</div>
						<!-- 기본 조회 조건 영역 끝 -->
					</div>
					<!--first tab end-->
				</div><!--tab component-->
				</div>

			</div>
			<!-- 조회 조건 끝 -->

			<!-- 결과 영역 시작  -->
			<div class="result_area">
				<div class="row" style="height:97%">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="height:100%">
						<div style="height:50%">
							<!-- 그리드 상단 버튼 -->
							<div class="parentCon">
								<div class="leftCon" >
									<span id="RST_CPT_01_01" class="component_ui"></span>
									<span id="RST_CPT_01_02" class="component_ui"></span>
									<span id="RST_CPT_01_03" class="component_ui"></span>
									<span id="RST_CPT_01_04" class="component_ui"></span>
									<span id="RST_CPT_01_05" class="component_ui"></span>
								</div>
								<div class="rightCon">
									<span id="RST_CPT_01_06" class="component_ui"></span>
									<span id="RST_CPT_01_07" class="component_ui"></span>
									<span id="RST_CPT_01_08" class="component_ui"></span>
									<span id="RST_CPT_01_09" class="component_ui"></span>
									<span id="RST_CPT_01_10" class="component_ui"></span>
								</div>
							</div>
							<div style="height:94%">
								<div id="RST_CPT_01" class="component_ui"></div>
							</div>
						</div>
						<div style="height:50%">
							<!-- 그리드 상단 버튼 -->
							<div class="parentCon">
								<div class="leftCon">
									<span id="RST_CPT_02_01" class="component_ui"></span>
									<span id="RST_CPT_02_02" class="component_ui"></span>
									<span id="RST_CPT_02_03" class="component_ui"></span>
									<span id="RST_CPT_02_04" class="component_ui"></span>
									<span id="RST_CPT_02_05" class="component_ui"></span>
								</div>
								<div class="rightCon">
									<span id="RST_CPT_02_06" class="component_ui"></span>
									<span id="RST_CPT_02_07" class="component_ui"></span>
									<span id="RST_CPT_02_08" class="component_ui"></span>
									<span id="RST_CPT_02_09" class="component_ui"></span>
									<span id="RST_CPT_02_10" class="component_ui"></span>
								</div>
							</div>
							<div style="height:94%">
								<div id="RST_CPT_02" class="component_ui"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 결과 영역 종료 -->
		</div>

	</div>
	<!-- 본 영역 종료  -->

	<!-- 팝업 영역 시작-->
	<div class="popupGroup">
		<!--Scenario 신규 등록-->
		<div id="POP_CPT_01" class="component_ui window_component">
			<div id="POP_CPT_01_TAB" class="component_ui tab_component">
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_01_T1_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_01_T1_01_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_01_T1_00_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_01_T1_00_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_01_T1_02_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_01_T1_02_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_01_T1_03_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_01_T1_03_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_01_T1_04_01' class="component_ui"></span>
							</span>
							<span class="rightCon" style="margin-right:176px;">
								<span id='POP_CPT_01_T1_04_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_01_T1_05_01' class="component_ui"></span>
							</span>
							<span class="rightCon" style="margin-right:176px;">
								<span id='POP_CPT_01_T1_05_02' class="component_ui"></span>
							</span>
						</div>

					</div><!--popup_area-->
				</div><!--tab1-->
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_01_T2_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_01_T2_01_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_01_T2_02_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_01_T2_02_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_01_T2_03_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_01_T2_03_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_01_T2_04_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_01_T2_04_02' class="component_ui"></span>
							</span>
						</div>
					</div>
				</div><!--tab2-->
			</div><!--POP_CPT_01_TAB-->
			<footer>
				<span id='POP_CPT_01_CONFIRM' class="component_ui"></span>
				<span id='POP_CPT_01_CANCLE' class="component_ui"></span>
			</footer>
		</div><!--POP_CPT_01-->

		<div id="POP_CPT_02" class="component_ui window_component">
			<div id="POP_CPT_02_TAB" class="component_ui tab_component">
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T1_00_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T1_00_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T1_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T1_01_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T1_02_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T1_02_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T1_03_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T1_03_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T1_04_01' class="component_ui"></span>
							</span>
							<span class="rightCon" style="margin-right:178px;">
								<span id='POP_CPT_02_T1_04_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T1_05_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T1_05_02' class="component_ui"></span>
							</span>
						</div>
					</div><!--popup_area-->
				</div><!--tab1-->
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T2_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T2_01_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T2_02_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T2_02_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T2_03_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T2_03_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T2_031_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T2_031_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T2_04_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T2_04_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T2_05_01' class="component_ui"></span>
							</span>
							<span class="rightCon" style="margin-right:178px;">
								<span id='POP_CPT_02_T2_05_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T2_06_01' class="component_ui"></span>
							</span>
							<span class="rightCon"  style="margin-right:178px;">
								<span id='POP_CPT_02_T2_06_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T2_07_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T2_07_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T2_08_01' class="component_ui"></span>
							</span>
							<span class="rightCon"  style="margin-right:178px;">
								<span id='POP_CPT_02_T2_08_02' class="component_ui"></span>
							</span>
						</div>
					</div>
				</div><!--tab2-->
				<div>
					<div class="popup_area">
<!-- 						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T3_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T3_01_02' class="component_ui"></span>
								<span id='POP_CPT_02_T3_01_03' class="component_ui"></span>
							</span>
						</div>	
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T3_02_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T3_02_02' class="component_ui"></span>
								<span id='POP_CPT_02_T3_02_03' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T3_03_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T3_03_02' class="component_ui"></span>
								<span id='POP_CPT_02_T3_03_03' class="component_ui"></span>
							</span>
						</div>	
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T3_04_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T3_04_02' class="component_ui"></span>
								<span id='POP_CPT_02_T3_04_03' class="component_ui"></span>
							</span>
						</div>	
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T3_05_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T3_05_02' class="component_ui"></span>
								<span id='POP_CPT_02_T3_05_03' class="component_ui"></span>
							</span>
						</div>	
						<div class="parentCon">HIDDEN INPUTBOX
							<span class="leftCon">
								<span id='POP_CPT_02_T3_00_01' class="component_ui"></span>
							</span>							
						</div>	 -->

						<div class="parentCon">
							<span class="rightCon">
								<span id="POP_UI_CM_16_02_RST_CPT_01" class="component_ui"></span>
								<span id="POP_UI_CM_16_02_RST_CPT_02" class="component_ui"></span>
							</span>
						</div>
						<div id="POP_UI_CM_16_02_WINDOW_02_GRD_01" class="component_ui"></div>

					</div>
				</div><!--tab3-->
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T4_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T4_01_02' class="component_ui"></span>
								<span id='POP_CPT_02_T4_01_03' class="component_ui"></span>
							</span>
						</div>
					</div>
				</div><!--tab4-->
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T5_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T5_01_02' class="component_ui"></span>
								<span id='POP_CPT_02_T5_01_03' class="component_ui"></span>
								<span id='POP_CPT_02_T5_01_04' class="component_ui"></span>
							</span>	
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T5_02_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T5_02_02' class="component_ui"></span>
							</span>
						</div>
					</div>
				</div><!--tab5-->
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T6_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T6_01_02' class="component_ui"></span>
								<span id='POP_CPT_02_T6_01_03' class="component_ui"></span>
								<span id='POP_CPT_02_T6_01_04' class="component_ui"></span>
							</span>	
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_02_T6_02_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_02_T6_02_02' class="component_ui"></span>
							</span>
						</div>
					</div>
				</div><!--tab6-->
			</div><!--POP_CPT_02_TAB-->
			<footer>
				<span id='POP_CPT_02_NEW_CONFIRM' class="component_ui"></span>
				<span id='POP_CPT_02_CONFIRM' class="component_ui"></span>
				<span id='POP_CPT_02_CANCLE' class="component_ui"></span>
			</footer>
		</div><!--POP_CPT_02-->

		<div id="POP_CPT_03" class="component_ui window_component">
			<div id="POP_CPT_03_01" class="component_ui"></div>
		</div><!--POP_CPT_03-->

		<div id="POP_CPT_04" class="component_ui window_component">
			<div id="POP_CPT_04_01" class="component_ui"></div>
		</div><!--POP_CPT_04-->

		<div id="POP_CPT_05" class="component_ui window_component">
			<div class="popup_area">
				<div id="POP_CPT_05_01" class="component_ui"></div>
			</div>
			<footer>
				<span id='POP_CPT_05_CONFIRM' class="component_ui"></span>
				<span id='POP_CPT_05_CANCLE' class="component_ui"></span>
			</footer>
		</div><!--POP_CPT_05-->

		<div id="POP_CPT_06" class="component_ui window_component">
			<div id="POP_CPT_06_01" class="component_ui"></div>
		</div><!--POP_CPT_06-->
		
		<div id="POP_CPT_07" class="component_ui window_component">
			<div id="POP_CPT_07_TAB" class="component_ui tab_component">
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T1_00_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T1_00_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T1_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T1_01_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T1_02_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T1_02_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T1_03_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T1_03_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T1_04_01' class="component_ui"></span>
							</span>
							<span class="rightCon" style="margin-right:178px;">
								<span id='POP_CPT_07_T1_04_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T1_05_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T1_05_02' class="component_ui"></span>
							</span>
						</div>
					</div><!--popup_area-->
				</div><!--tab1-->
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T2_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T2_01_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T2_02_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T2_02_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T2_03_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T2_03_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T2_031_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T2_031_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T2_04_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T2_04_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T2_05_01' class="component_ui"></span>
							</span>
							<span class="rightCon" style="margin-right:178px;">
								<span id='POP_CPT_07_T2_05_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T2_06_01' class="component_ui"></span>
							</span>
							<span class="rightCon"  style="margin-right:178px;">
								<span id='POP_CPT_07_T2_06_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T2_07_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T2_07_02' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T2_08_01' class="component_ui"></span>
							</span>
							<span class="rightCon"  style="margin-right:178px;">
								<span id='POP_CPT_07_T2_08_02' class="component_ui"></span>
							</span>
						</div>
					</div>
				</div><!--tab2-->
				<div>
					<div class="popup_area">
						<!-- <div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T3_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T3_01_02' class="component_ui"></span>
								<span id='POP_CPT_07_T3_01_03' class="component_ui"></span>
							</span>
						</div>	
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T3_02_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T3_02_02' class="component_ui"></span>
								<span id='POP_CPT_07_T3_02_03' class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T3_03_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T3_03_02' class="component_ui"></span>
								<span id='POP_CPT_07_T3_03_03' class="component_ui"></span>
							</span>
						</div>	
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T3_04_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T3_04_02' class="component_ui"></span>
								<span id='POP_CPT_07_T3_04_03' class="component_ui"></span>
							</span>
						</div>	
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T3_05_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T3_05_02' class="component_ui"></span>
								<span id='POP_CPT_07_T3_05_03' class="component_ui"></span>
							</span>
						</div>	
						<div class="parentCon">HIDDEN INPUTBOX
							<span class="leftCon">
								<span id='POP_CPT_07_T3_00_01' class="component_ui"></span>
							</span>							
						</div>							 -->
						
						<div class="parentCon">
							<span class="rightCon">
								<span id="POP_UI_CM_16_04_RST_CPT_01" class="component_ui"></span>
								<span id="POP_UI_CM_16_04_RST_CPT_02" class="component_ui"></span>
							</span>
						</div>
						<div id="POP_UI_CM_16_02_WINDOW_02_GRD_02" class="component_ui"></div>
						
					</div>
				</div><!--tab3-->
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T4_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T4_01_02' class="component_ui"></span>
								<span id='POP_CPT_07_T4_01_03' class="component_ui" style="vertical-align: top;"></span>
							</span>
						</div>	
					</div>
				</div><!--tab4-->
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T5_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T5_01_02' class="component_ui"></span>
								<span id='POP_CPT_07_T5_01_03' class="component_ui"></span>
								<span id='POP_CPT_07_T5_01_04' class="component_ui" style="vertical-align: top;"></span>
							</span>	
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T5_02_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T5_02_02' class="component_ui"></span>
							</span>
						</div>
					</div>
				</div><!--tab5-->
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T6_01_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T6_01_02' class="component_ui"></span>
								<span id='POP_CPT_07_T6_01_03' class="component_ui"></span>
								<span id='POP_CPT_07_T6_01_04' class="component_ui" style="vertical-align: top;"></span>
							</span>	
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id='POP_CPT_07_T6_02_01' class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id='POP_CPT_07_T6_02_02' class="component_ui"></span>
							</span>
						</div>
					</div>
				</div><!--tab6-->
			</div><!--POP_CPT_07_TAB-->
			<footer>
				<span id='POP_CPT_07_CONFIRM' class="component_ui"></span>
				<span id='POP_CPT_07_CANCLE' class="component_ui"></span>
			</footer>
		</div>		


	</div>
	<!--팝업 영역 종료-->

</section>

<style type="text/css">
	.result_area > .parentCon {height:100%;}

	/* 체크박스 왼쪽여백*/
	#POP_CPT_01_T1_04_02,
	#POP_CPT_01_T1_05_02,
	#POP_CPT_02_T1_04_02,

	#POP_CPT_02_T2_05_02,
	#POP_CPT_02_T2_06_02,
	#POP_CPT_02_T2_08_02

	{margin-left:0 !important;}

	#POP_CPT_02_T3_01_03,
	#POP_CPT_02_T4_01_03,
	#POP_CPT_02_T5_01_04,
	#POP_CPT_02_T6_01_04
	{vertical-align:top;}

	#SRH_CPT_T1_02_04 {width:inherit}
</style>