<style>
  .UI_UT_02 #tree-view-container {
    padding-left: 5px;
    padding-top: 10px;
  }

  .UI_UT_02 .result_area {
    padding: 12px;
  }

  .UI_UT_02 .excel_import_title_area {
    border-bottom-style: solid;
    border-bottom-color: #0d4264;
    padding-bottom: 5px;
  }

  .UI_UT_02 .import_area_disable {
    height: 99%;
    text-align: center;
    border: 3px dotted #0d4264;
  }

  .UI_UT_02 h3 {
    color: #0d4264;
    margin-top: 350px;
    font-weight: bold;
  }

  .UI_UT_02 .excel_import_title {
    color: white;
    background-color: #0d4264;
    padding: 5px 10px;
  }

  .UI_UT_02 .table_status li {
    padding-top: 10px;
  }

  .UI_UT_02 .table_status li span {
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: #0d4264;
    text-decoration-line: underline;
  }

  .UI_UT_02 .excel_import_option:first-child {
    padding: 10px 20px 0;
  }

  .UI_UT_02 .excel_import_option {
    padding-left: 20px;
    padding-right: 20px;
  }

  .UI_UT_02 .import_option_title {
    font-weight: bold;
  }

  .UI_UT_02 .radio_list {
    margin-top: 5px;
    margin-left: -20px;
    list-style: none;
  }

  .UI_UT_02 .radio_list label {
    margin-left: 5px;
    padding-right: 50px;
  }

  .UI_UT_02 #file_list_area {
    height: 120px;
    margin-top: 5px;
    border: dotted #0d4264;
    overflow-y: scroll;
  }

  .UI_UT_02 .file_list_item {
    font-size: 15px;
    padding: 10px 20px;
    background: #f2f2f2;
    margin-top: 2px;
  }

  .UI_UT_02 span.k-icon {
    margin-right: 5px;
  }

  .UI_UT_02 span.k-i-play {
    color: green;
  }

  .UI_UT_02 span.k-i-check {
    color: green;
  }

  .UI_UT_02 span.k-i-minus-circle {
    color: red;
  }

  .UI_UT_02 #export_btn {
    float: right;
    margin-top: -35px;
    margin-right: 15px;
  }

  .UI_UT_02 #save_run_btn {
    float: right;
    margin-top: 10px;
    margin-right: 15px;
  }

  .UI_UT_02 .remove_file_btn {
    float: right;
    margin-right: 5px;
  }
</style>
