<div id="contentsInner" class="standardTemplate widgetTemplate">
	<section id="widget-grid" class="">
		<!-- row -->
		<div class="row">

			<!--SEARCH GRID-->
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div id="searchWidget" class="widget-body">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 searchLeftSection" ><!-- left-side contents-->
							<div>
								<span id="search_1_1" class="component_ui"></span>
								<span id="search_1_2" class="component_ui"></span>
								<span id="search_1_3" class="component_ui"></span>
								<span id="search_1_4" class="component_ui"></span>
								<span id="search_1_5" class="component_ui"></span>
								<span id="search_1_6" class="component_ui"></span>
								<span id="search_1_7" class="component_ui"></span>
								<span id="search_1_8" class="component_ui"></span>
								<span id="search_1_9" class="component_ui"></span>
								<span id="search_1_10" class="component_ui"></span>
							</div>
							<div>
								<span id="search_2_1" class="component_ui"></span>
								<span id="search_2_2" class="component_ui"></span>
								<span id="search_2_3" class="component_ui"></span>
								<span id="search_2_4" class="component_ui"></span>
								<span id="search_2_5" class="component_ui"></span>
								<span id="search_2_6" class="component_ui"></span>
								<span id="search_2_7" class="component_ui"></span>
								<span id="search_2_8" class="component_ui"></span>
								<span id="search_2_9" class="component_ui"></span>
								<span id="search_2_10" class="component_ui"></span>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 searchRightSection" ><!-- right-side contents-->
							<div>
								<span id="button_1_1" class="component_ui"></span>
								<span id="button_1_2" class="component_ui"></span>
								<span id="button_1_3" class="component_ui"></span>
								<span id="button_1_4" class="component_ui"></span>
							</div>
							<div>
								<span id="button_2_1" class="component_ui"></span>
								<span id="button_2_2" class="component_ui"></span>
								<span id="button_2_3" class="component_ui"></span>
								<span id="button_2_4" class="component_ui"></span>
							</div>
						</div>
					</div><!--row-->
				</div><!--searchWidget-->
			</article>

			<!-- NORTH GRID -->
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div id="northWidget" class="widget-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div id="north_west_north" class="component_ui"></div>
							<div id="north_west_south" class="component_ui"></div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div id="north_east_north" class="component_ui"></div>
							<div id="north_east_south" class="component_ui"></div>
						</div>
					</div><!--row-->
				</div><!--northWidget-->
			</article><!-- GRID END -->

			<!-- SOUTH GRID -->
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div id="southWidget" class="widget-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div id="south_west_north" class="component_ui"></div>
							<div id="south_west_south" class="component_ui"></div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div id="south_east_north" class="component_ui"></div>
							<div id="south_east_south" class="component_ui"></div>
						</div>
					</div><!--row-->
				</div><!--southWidget-->
			</article><!-- GRID END -->

		</div><!-- end row -->
	</section>
</div>
