<section id="contentsInner" class="STANDARD UI_AD_21">
  <div id="contents" class="vue-app content_area parentCon">
    <kendo-splitter :orientation="'horizontal'" :panes="[ { size: '20%', collapsible: true, resizable: false }, {} ]" v-on:resize="doResize" style="height:100%;">
      <div class="search_area" style="position: absolute; top: 0px; width: 334px; height: 100%; left: 0px;">
        <div class='commonBtn_area'>
          <span id="TTL_COMM_CPT_HELP" class="component_ui"></span>
          <kendo-button @click="doRefresh"><i class="fa fa-lg fa-refresh"></i></kendo-button>
          <kendo-button @click="doDataLoad"><i class="fa fa-lg fa-search"></i></kendo-button>
        </div>
        <div class='srhTab_area'>
          <kendo-tabstrip id="SRH_TAB" style="height: calc(100% - 25px);">
            <ul>
              <li class="k-state-active">
                <span id="t1-1" v-t="'BASE_OPTION'"></span>
              </li>
            </ul>
            <div style="height: calc(100% - 50px); min-height: calc(100% - 50px); display: block;">
              <div class="parentCon">
                <span class="leftCon">
                  <span id="SRH_CPT_T1_01_01" v-t="'VIEW_ID'" class="kd_labelWrap"></span>
                </span>
                <span class="rightCon">
                  <input type="text" id="menuCd"  class="k-textbox" v-model="menuCd" @keydown="doKeyDown" style="width: 160px;"></input>
                </span>
              </div>
            </div>
          </kendo-tabstrip>
        </div>
      </div>
      <div class="result_area">
        <div class="row" style="height: 100%">
          <div class="parentCon" style="height: 4%">
            <div class="leftCon">
            </div>
            <div class="rightCon">
              <kendo-button @click="doInsertRow"><i class="fa fa-lg fa-plus"></i></kendo-button>
              <kendo-button @click="doDeleteRow"><i class="fa fa-lg fa-minus"></i></kendo-button>
              <kendo-button @click="doSave"><i class="fa fa-lg fa-save"></i></kendo-button>
            </div>
          </div>
          <div style="height: calc(100% - 44px) !important;" class="component_ui wingui_component">
            <div id="grid1" version="1" style='width: 1310px; height: 750px;'></div>
          </div>
        </div>
      </div>
    </kendo-splitter>
  </div>
</section>
