<meta charset="utf-8" />
<div id="commonPopupGroup">
	<div id="POP_UI_IM_06_02_WINDOW_01" class="component_ui window_component">
		<div id="TAB_POP_UI_IM_06_02_WINDOW_01" class="component_ui tab_component">
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_UI_IM_06_02_WINDOW_01_CPT_01_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_UI_IM_06_02_WINDOW_01_CPT_01_04" class="component_ui"></span>
							<span id="POP_UI_IM_06_02_WINDOW_01_CPT_01_05" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<div id="POP_UI_IM_06_02_WINDOW_01_CPT_01_10" class="component_ui"></div>
					</div>
				</div>			
			</div>
		</div>
		<footer>
			<div class="parentCon">
				<span class="rightCon">
					<span id="POP_UI_IM_06_02_WINDOW_01_CPT_30_01" class="component_ui"></span>
					<span id="POP_UI_IM_06_02_WINDOW_01_CPT_30_05" class="component_ui"></span>
				</span>
			</div>
		</footer>	
	</div>
</div>