<meta charset="utf-8" />
<div class="commonPopupGroup">
	
	<div id="POP_UI_DP_01_WINDOW_01" class="component_ui window_component">
		<div class="popup_area">
			<div id="POP_UI_DP_01_RST" class="component_ui"></div>
		</div>
	</div>
	
	<div id="POP_UI_IM_01" class="component_ui window_component">
		<div id="POP_UI_IM_01_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_01_01" class="component_ui window_component">
		<div id="POP_UI_IM_01_01_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_02" class="component_ui window_component">
		<div id="POP_UI_IM_02_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_03" class="component_ui window_component">
		<div id="POP_UI_IM_03_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_04" class="component_ui window_component">
		<div id="POP_UI_IM_04_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_05" class="component_ui window_component">
		<div class="popup_area">
			<div id="POP_UI_IM_05_TAB" class="component_ui">
				<div><div id="POP_UI_IM_05_01_RST" class="component_ui"></div></div>
				<div><div id="POP_UI_IM_05_02_RST" class="component_ui"></div></div>
				<div><div id="POP_UI_IM_05_03_RST" class="component_ui"></div></div>
			</div>
		</div><!--popup_area-->
	</div>
	<div id="POP_UI_IM_06" class="component_ui window_component">
		<div id="POP_UI_IM_06_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_07" class="component_ui window_component">
		<div id="POP_UI_IM_07_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_08" class="component_ui window_component">
		<div id="POP_UI_IM_08_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_09" class="component_ui window_component">
		<div id="POP_UI_IM_09_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_10" class="component_ui window_component">
		<div id="POP_UI_IM_10_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_11" class="component_ui window_component">
		<div id="POP_UI_IM_11_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_12" class="component_ui window_component">
		<div id="POP_UI_IM_12_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_13" class="component_ui window_component">
		<div id="POP_UI_IM_13_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_14" class="component_ui window_component">
		<div id="POP_UI_IM_14_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_17" class="component_ui window_component">
		<div id="POP_UI_IM_17_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_18" class="component_ui window_component">
		<div id="POP_UI_IM_18_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_19" class="component_ui window_component">
		<div id="POP_UI_IM_19_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_20" class="component_ui window_component">
		<div id="POP_UI_IM_20_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_21" class="component_ui window_component">
		<div id="POP_UI_IM_21_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_22" class="component_ui window_component">
		<div id="POP_UI_IM_22_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_23" class="component_ui window_component">
		<div id="POP_UI_IM_23_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_24" class="component_ui window_component">
		<div id="POP_UI_IM_24_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_25" class="component_ui window_component">
		<div id="POP_UI_IM_25_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_26" class="component_ui window_component">
		<div id="POP_UI_IM_26_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_27" class="component_ui window_component">
		<div id="POP_UI_IM_27_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_28" class="component_ui window_component">
		<div id="POP_UI_IM_28_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_29" class="component_ui window_component">
		<div id="POP_UI_IM_29_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_30" class="component_ui window_component">
		<div id="POP_UI_IM_30_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_31" class="component_ui window_component">
		<div id="POP_UI_IM_31_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_32" class="component_ui window_component">
		<div id="POP_UI_IM_32_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_33" class="component_ui window_component">
		<div id="POP_UI_IM_33_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_35" class="component_ui window_component">
		<div id="POP_UI_IM_35_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_36" class="component_ui window_component">
		<div id="POP_UI_IM_36_RST" class="component_ui"></div>
	</div>
	<div id="POP_UI_IM_37" class="component_ui window_component">
		<div id="POP_UI_IM_37_RST" class="component_ui"></div>
	</div>
</div><!--commonPopupGroup-->