<meta charset="utf-8" />
<section id="contentsInner" class="STANDARD">

	<!-- 타이틀 영역 시작  -->
	<div class="data_area">

		<!-- data component-->
		<div id="VIEW_META" class="component_ui"></div>
		<div id="DATA_01" class="component_ui"></div>
		<div id="DATA_02" class="component_ui"></div>
		<div id="DATA_03" class="component_ui"></div>
		<div id="DROPDOWN" class="component_ui"></div>
		
	</div>
	<!-- 타이틀 영역 끝  -->

	<!-- 본 영역 시작  -->
	<div class="content_area parentCon">
		<div id= "CONTENT_SPLIT"  class="component_ui split_component" >
			<!-- 조회 조건 시작  -->
			<div class="search_area">
				
				<!-- 공통 버튼 영역 시작  -->
				<div class='commonBtn_area'>
					<span id="TTL_COMM_CPT_HELP" class="component_ui"></span>
					<span id="TTL_COMM_CPT_PERSONALIZATION" class="component_ui"></span>
					<span id="TTL_CPT_03" class="component_ui"></span>
					<span id="TTL_CPT_04" class="component_ui"></span>
					<span id="TTL_CPT_05" class="component_ui"></span>
				</div>
				<!-- 공통 버튼 영역 끝 -->
				<div class='srhTab_area'>	
					<div id="SRH_TAB" class="component_ui tab_component">
						<!--first tab-->
						<div>
							<include src="COMM/COMM_SRH_MAIN_VERSION.html" />
							<include src="COMM/COMM_SRH_LOCAT.html" />
						</div>
						<!--first tab end-->
						<div>
							<!-- 기본 조회 조건 영역 시작 -->
							<div class="parentCon">
								<span class="leftCon">
									<span id="SRH_CPT_T1_01_01" class="component_ui"></span>
									<span id="SRH_CPT_T1_01_02" class="component_ui"></span>
									<span id="SRH_CPT_T1_01_03" class="component_ui"></span>
								</span>
								<span class="rightCon">
									<span id="SRH_CPT_T1_01_04" class="component_ui"></span>
									<span id="SRH_CPT_T1_01_05" class="component_ui"></span>
									<span id="SRH_CPT_T1_01_06" class="component_ui"></span>
								</span>
							</div>
		
							<!-- 기본 조회 조건 영역 끝 -->
						</div>
						
					</div><!--tab component-->
				</div>
			</div>
			<!-- 조회 조건 끝 -->
	
			<!-- 결과 영역 시작  -->
			<div class="result_area">
				<div class="row" style="height:98%">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div id="RESULT_SPLIT" class="component_ui">
							<div>
								<div class="parentCon" style="height:6%; margin-top:5px;">
									<div class="leftCon">
										<span id="RST_CPT_01_01" class="component_ui"></span>
										<span id="RST_CPT_01_02" class="component_ui"></span>
										<span id="RST_CPT_01_03" class="component_ui"></span>
										<span id="RST_CPT_01_04" class="component_ui"></span>
										<span id="RST_CPT_01_05" class="component_ui"></span>
									</div>
									<div class="rightCon">
										<span id="RST_CPT_01_06" class="component_ui"></span>
										<span id="RST_CPT_01_07" class="component_ui"></span>
										<span id="RST_CPT_01_08" class="component_ui"></span>
										<span id="RST_CPT_01_09" class="component_ui"></span>
										<span id="RST_CPT_01_10" class="component_ui"></span>
									</div>
								</div>
								<div style="height:92%">
									<div id="RST_CPT_01" class="component_ui"></div>
								</div>
							</div>
							<div>
								<div style="clear:both; height:100%">
									<div id="RST_CRT_01_01" class="component_ui" style="float:left;width:25%; height:100%"></div>
									<div id="RST_CRT_01_02" class="component_ui" style="float:left;width:25%; height:100%"></div>
									<div id="RST_CRT_01_03" class="component_ui" style="float:left;width:25%; height:100%"></div>
									<div id="RST_CRT_01_04" class="component_ui" style="float:left;width:25%; height:100%"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 결과 영역 종료 -->
		</div>
	</div>
	<!-- 본 영역 종료  -->

</section>

