<meta charset="utf-8" />
<div id="commonPopupGroup">
	<div id="POP_UI_MP_15_01_WINDOW_01" class="component_ui window_component">
			<div id="POP_TAB_01" class="component_ui tab_component">
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_00_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_00_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_00_11" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_00_14" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_00_21" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_00_24" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_00_31" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_00_34" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_01_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_01_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_02_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_02_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_03_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_03_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_04_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_04_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_05_01" class="component_ui"></span>
							</span>
							<span class="rightCon" style="text-align:left; margin:0px; width:180px;">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_05_04" class="component_ui" style="margin:0px"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_06_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_06_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_07_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_07_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_08_01" class="component_ui"></span>
							</span>
							<span class="rightCon" style="text-align:left; margin:0px; width:180px;">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_08_04" class="component_ui" style="margin:0px"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_09_01" class="component_ui"></span>
							</span>
							<span class="rightCon" style="text-align:left; margin:0px; width:180px;">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_09_04" class="component_ui" style="margin:0px"></span>
							</span>
						</div>
					</div>					
				</div>
				
				<!-- 생산거점 Tab -->
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_11_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_11_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_12_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_12_04" class="component_ui"></span>
							</span>
						</div>
					</div>				
				</div>
				
				<!-- 장납기 자재 -->
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_21_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_21_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_22_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_22_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_23_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_23_04" class="component_ui"></span>
							</span>
						</div>
					</div>
				</div>
				
				<!-- Customer Level Min Allocation -->
				<div>
					<div class="popup_area">
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_31_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_31_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_32_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_32_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_33_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_33_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_34_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_34_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_35_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_35_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_36_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_36_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_37_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_37_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_38_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_38_04" class="component_ui"></span>
							</span>
						</div>
						<div class="parentCon">
							<span class="leftCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_39_01" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="POP_UI_MP_15_01_WINDOW_01_CPT_39_04" class="component_ui"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
		<footer>
			<div class="parentCon">
				<span class="rightCon">
					<span id="POP_UI_MP_15_01_WINDOW_01_CPT_99_01" class="component_ui"></span>
					<span id="POP_UI_MP_15_01_WINDOW_01_CPT_99_02" class="component_ui"></span>
				</span>
			</div>
		</footer>
	</div>
</div>