<meta charset="utf-8" />
<div id="contentsInner">
	<div id="POP_UI_MP_19_02_WINDOW_01" class="component_ui window_component">
		<div id="POP_UI_MP_19_02_TAB" class="component_ui tab_component">
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T1_00_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T1_00_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T1_01_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T1_01_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T1_02_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T1_02_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T1_03_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T1_03_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T1_04_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T1_04_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T1_05_01' class="component_ui"></span>
						</span>
						<span class="rightCon" style="text-align:left; margin:0px; width:188px;">
							<span id='POP_UI_MP_19_02_T1_05_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T1_06_01' class="component_ui"></span>
						</span>
						<span class="rightCon" style="text-align:left; margin:0px; width:188px;">
							<span id='POP_UI_MP_19_02_T1_06_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T1_07_01' class="component_ui"></span>
						</span>
						<span class="rightCon" style="text-align:left; margin:0px; width:188px;">
							<span id='POP_UI_MP_19_02_T1_07_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T1_08_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T1_08_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T1_09_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T1_09_02' class="component_ui"></span>
						</span>
					</div>
					
				</div>
			</div>
			<!--Version 끝--><!--tab1-->

			<!--Demand information 시작-->
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T2_00_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T2_00_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T2_01_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T2_01_02' class="component_ui"></span>
							<span id='POP_UI_MP_19_02_T2_01_03' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T2_02_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T2_02_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T2_02_03' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T2_02_04' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T2_03_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T2_03_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T2_04_01' class="component_ui"></span>
						</span>
						<span class="rightCon"  style="text-align:left; margin:0px; width:188px;">
							<span id='POP_UI_MP_19_02_T2_04_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_ITEM_CD_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_ITEM_CD_04" class="component_ui"></span>
							<span id="POP_ITEM_CD_05" class="component_ui" style="vertical-align: top;"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_ITEM_NM_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_ITEM_NM_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="POP_ITEM_TP_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="POP_ITEM_TP_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T2_08_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T2_08_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_ITEM_UOM_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_ITEM_UOM_04' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T2_09_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T2_09_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="ACCOUNT_CD_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="ACCOUNT_CD_04" class="component_ui"></span>
							<span id="ACCOUNT_CD_05" class="component_ui" style="vertical-align: top;"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id="ACCOUNT_NM_01" class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id="ACCOUNT_NM_04" class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T2_10_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T2_10_02' class="component_ui"></span>
						</span>
					</div>
				</div>
			</div>
			<!--Demand information 끝--><!--tab2-->

			<!--Demand Priority 시작-->
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T3_00_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T3_00_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T3_01_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T3_01_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T3_02_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T3_02_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T3_03_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T3_03_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T3_04_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T3_04_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T3_05_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T3_05_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T3_06_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T3_06_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T3_07_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T3_07_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T3_08_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T3_08_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T3_09_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T3_09_02' class="component_ui"></span>
						</span>
					</div>
				</div>
			</div>
			<!--Demand Priority 끝--><!--tab3-->

			<!--Plan Policy 시작-->
			<div>
				<div class="popup_area">
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T4_00_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T4_00_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T4_01_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T4_01_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T4_02_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T4_02_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T4_03_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T4_03_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T4_04_01' class="component_ui"></span>
						</span>
						<span class="rightCon"  style="text-align:left; margin:0px; width:188px;">
							<span id='POP_UI_MP_19_02_T4_04_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T4_05_01' class="component_ui"></span>
						</span>
						<span class="rightCon" style="text-align:left; margin:0px; width:188px;">
							<span id='POP_UI_MP_19_02_T4_05_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T4_06_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T4_06_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T4_07_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T4_07_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T4_08_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T4_08_02' class="component_ui"></span>
						</span>
					</div>
					<div class="parentCon">
						<span class="leftCon">
							<span id='POP_UI_MP_19_02_T4_09_01' class="component_ui"></span>
						</span>
						<span class="rightCon">
							<span id='POP_UI_MP_19_02_T4_09_02' class="component_ui"></span>
						</span>
					</div>
				</div>
			</div>
			<!--Plan Policy 끝--><!--tab4-->
			
			<!-- Assign -->
			<div>
				<div class="popup_area">
					<div>
						<div id="POP_UI_MP_19_02_T5_00_00" class="component_ui"></div>
					</div>
				</div>
			</div>
			<div>
				<div class="popup_area">
					<div>
						<div id="POP_UI_MP_19_02_T6_00_00" class="component_ui"></div>
					</div>
				</div>
			</div>
			<div>
				<div class="popup_area">
					<div>
						<div id="POP_UI_MP_19_02_T7_00_00" class="component_ui"></div>
					</div>
				</div>
			</div>
			<div>
				<div class="popup_area">
					<div>
						<div id="POP_UI_MP_19_02_T8_00_00" class="component_ui"></div>
					</div>
				</div>
			</div>
			<div>
				<div class="popup_area">
					<div>
						<div id="POP_UI_MP_19_02_T9_00_00" class="component_ui"></div>
					</div>						
				</div>
			</div>
		</div>
		
		<footer>
			<span id='POP_UI_MP_19_02_CONFIRM' class="component_ui"></span>
			<span id='POP_UI_MP_19_02_CANCLE' class="component_ui"></span>
		</footer>
	</div>
</div>