.category-column-cell-bg {
  background: #F4F6FB !important
}

.demand-qty-cell-bg {
  background: #CEFBC9 !important
}

.shipping-scheduled-cell-bg {
  background: #F5ECCE !important
}

.due-in-cell-bg {
  background: #F5ECCE !important
}
